<div class="titlesection">
    <span>Administración de Documentos Valorados</span>
</div>

<mat-divider class="divisorConfig"></mat-divider>

<div class="botonera">

    <button mat-flat-button class="boton-principal-light" (click)="agregarDocumentoValorado()">Agregar</button>
</div>
<br>
<div class="content-table">
    <span class="label-info">
        <mat-icon>info</mat-icon>Para configurar el documento valorado dar doble clic en el nombre.
    </span>
    <table mat-table matTableResponsive [dataSource]="listadoDocumentoValorado" class="mat-elevation-z8 tablaAprobador ">
        <caption title="listadoTipo Doc Valorado "></caption>
        <!-- Table estrategias - por sociedad -->
        <!-- Column -->
        <ng-container matColumnDef="nombre">
            <th class="PointerHand" mat-header-cell *matHeaderCellDef> Documento Valorado</th>
            <td class="PointerHand" mat-cell *matCellDef="let element" (dblclick)="editarDocumentoValorado(element)"><u> {{element.nombre}}
                </u>
            </td>
        </ng-container>
        <!-- Column -->
        <ng-container matColumnDef="tipo_documento_valorado">
            <th mat-header-cell *matHeaderCellDef> Tipo Documento Valorado</th>
            <td mat-cell *matCellDef="let element"> {{element.tipo_documento_valorado.nombre}} </td>
        </ng-container>

       <!-- Column -->
       <ng-container matColumnDef="activo">
            <th mat-header-cell *matHeaderCellDef> Estado </th>
            <td mat-cell *matCellDef="let element">
                <mat-slide-toggle [(ngModel)]="element.activo" (ngModelChange)="onchangeEstado(element)">
                </mat-slide-toggle>
            </td>
        </ng-container>  

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</div>