<div class="main-content" >
   
  <app-header></app-header>

  <!-- por hacer -->

  <div class="action-content col-xl-1 col-l-1 col-m-1 col-s-1">
    <app-sidebar></app-sidebar>  

  </div>
  

  <div class="body-content col-xl-11 col-l-11 col-m-11 col-s-11">
     <!-- breadcumbs-->
       <!--  <app-breadcrumbs></app-breadcrumbs> -->
    
    <div class="content col-xl-12 col-l-12 col-m-12 col-s-12">
        <!-- Sistema de Rutas-->
        <router-outlet></router-outlet>
        
    </div>
  </div>
  
</div>