<h3>Nueva Estrategia por Sociedad</h3>
<div class="contenidoForm">
    <form [formGroup]="crearFormDialog" (ngSubmit)="crearEstrategiaSociedad(crearFormDialog.value)">
        <div class="col-12">
            <mat-form-field appearance="outline">
                <mat-label>Estado</mat-label>
                <mat-select formControlName="estado" (selectionChange)="listarRoles()" required>
                    <mat-option *ngFor="let estado of listadoEstados" [value]="estado">{{ estado.nombre }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="col-12">
            <mat-form-field appearance="outline">
                <mat-label>Rol</mat-label>
                <mat-select formControlName="rol" required>
                    <mat-option *ngFor="let rol of listadoRoles" [value]="rol">{{ rol.nombre }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-12">
            <mat-form-field appearance="outline">
                <mat-label>Usuario</mat-label>
                <input type="text" matInput placeholder="Usuario" formControlName="usuario" [formControl]="myControl" [matAutocomplete]="auto" [(ngModel)]="selectedUsuario" required>
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                    <mat-option *ngFor="let option of filteredUsuario | async" [value]="option">
                        {{option.nombre}}
                    </mat-option>
                </mat-autocomplete>                
                <mat-hint>
                    <mat-error [hidden]="!(formErrors.usuario)">
                        {{formErrors.usuario}}
                    </mat-error>
                </mat-hint>

            </mat-form-field>
        </div>
        <div class="col-12" *ngIf="id_estado == 1">
            <mat-form-field appearance="outline">
                <mat-label>Revisor</mat-label>
                <input type="text" matInput placeholder="Revisor" formControlName="revisor" [formControl]="myControlRevisor" [matAutocomplete]="autoRevisor" [(ngModel)]="selectedUsuarioRevisor" required>
                <mat-autocomplete #autoRevisor="matAutocomplete" [displayWith]="displayFnRevisor">
                    <mat-option *ngFor="let option of filteredUsuarioRevisor | async" [value]="option">
                        {{option.nombre}}
                    </mat-option>
                </mat-autocomplete>                
                <mat-hint>
                    <mat-error [hidden]="!(formErrors.revisor)">
                        {{formErrors.revisor}}
                    </mat-error>
                </mat-hint>

            </mat-form-field>
        </div>
        <button mat-raised-button class="color-secundario" type="button" (click)="onNoClick()">Cancelar</button> &nbsp;
        <button mat-raised-button class="boton-principal-light" type="submit">Agregar</button>
    </form>
</div>