<div class="content-step">
    <div class="content-body-step">
        <div class="contenidoForm">
            <form [formGroup]="fourthFormGroup">
                <mat-tab-group mat-align-tabs="start">
                    <mat-tab label="Flujo de Caja">
                        <app-tab-flujo-caja-sc></app-tab-flujo-caja-sc>
                    </mat-tab>
                    <mat-tab label="Estados Financieros">
                        <app-tab-estados-financieros-sc></app-tab-estados-financieros-sc>
                    </mat-tab>
                    <mat-tab label="Documentos Adicionales">
                        <app-tab-documentos-adicionales-sc></app-tab-documentos-adicionales-sc>
                    </mat-tab>
                  </mat-tab-group>

            </form>

        </div>

    </div>
    <div class="botonera-step ">
        <button mat-raised-button class="boton-secundario" matStepperPrevious>Anterior</button>&nbsp;
        <button mat-raised-button class="boton-principal-light " matStepperNext>Enviar Solicitud</button>
    </div>
</div>
