<div class="content-step">
    <div class="content-body-step">
        <div class="contenidoForm">
            <form [formGroup]="fourthFormGroup">
                <mat-form-field>
                    <mat-label>Address</mat-label>
                    <input matInput formControlName="fourthCtrl" placeholder="Ex. 1 Main St, New York, NY" required>
                </mat-form-field>

            </form>

        </div>

    </div>
    <div class="botonera-step ">
        <button mat-raised-button class="boton-secundario" matStepperPrevious>Anterior</button>&nbsp;
        <button mat-raised-button class="boton-principal-light " matStepperNext>Finalizar</button>
    </div>
</div>
