<div class="background">
    <mat-card class="card-login">
        <mat-card-header>
            <mat-card-title>
                Sistema de Créditos
            </mat-card-title>
            <mat-card-subtitle>
                ingreso de usuarios
            </mat-card-subtitle>
        </mat-card-header>
        <div *ngIf="loggedIn">
            <img src="{{ user.photoUrl }}">
            <div>
                <h4>{{ user.name }}</h4>
                <p>{{ user.email }}</p>
            </div>
        </div>
        <mat-card-content>
            <!-- <p>Click para iniciar la autenticación</p> -->
            
        </mat-card-content>
        <mat-card-actions>
            <button type="submit" *ngIf="!loggedIn" mat-raised-button  class="boton-principal-light" (click)="signInWithGoogle()"  > Iniciar sesión con Google</button>
    
            <button mat-raised-button color="warn" (click)="signOut()" *ngIf="loggedIn" >Cerrar Sesión</button>
        </mat-card-actions>
    
    </mat-card>
    </div>