<div class="page center">
    <div class="mensaje-not-found color-secundario">
        <div class="titulo-grande col-xs-12 col-s-12 col-m-12 col-l-12 col-xl-12">404</div>
        <br>
        <div class="subtitulo col-xs-12 col-s-12 col-m-12 col-l-12 col-xl-12">PÁGINA NO ENCONTRADA</div>
        <br>
        <div class="descripcion col-xs-12 col-s-12 col-m-12 col-l-12 col-xl-12">la página a la que se desea ingresar no
            existe, tal vez se ingresó la dirección incorrecta</div>
            <br>
            <button mat-button class="boton-principal-light" (click)="regresar()">Regresar a Siscred</button>
    </div>
</div>