<div class="titlesection">
    Bandeja de Pendientes Condiciones de Pago
    <br><br>
    <mat-divider></mat-divider>
</div>
<div>
    <form [formGroup]="formulary" (ngSubmit)="buscarSolicitudes(formulary.value)">
        <div class="buscarBandejas">
                    
           <mat-form-field appearance="fill" class="formBandejas">
                <mat-label>N° Solicitud</mat-label>
                <input matInput formControlName="numero_documento">
            </mat-form-field>

            <mat-form-field appearance="fill" class="formBandejas">
                <mat-label>Estado</mat-label>
                <mat-select formControlName="estado" required>
                    <mat-option *ngFor="let estado of listadoEstadosSolicitud" [value]="estado.id">{{ estado.nombre }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" class="formBandejas">
                <mat-label>N° Solicitud</mat-label>
                <input matInput formControlName="solicitud">
            </mat-form-field>


            <mat-form-field appearance="fill" class="formBandejas">
                <mat-label>Fecha</mat-label>
                <input matInput formControlName="fecha">
            </mat-form-field>


            <div class="formBandejas">
                <button mat-mini-fab color="white" aria-label="Buscar" class="boton-buscar" type="submit">
                    <mat-icon>search</mat-icon>
                </button>
            </div>
        </div>
    </form>
</div>



<div class="label-info">
    <div class="labelEstadoCP">Estados Condición de Pago:&nbsp;&nbsp;</div>
    <div class="labelEstadoCP">
        <mat-icon class="color-aprobacion">fiber_manual_record</mat-icon> &nbsp;En Aprobación&nbsp;
    </div >
    <div class="labelEstadoCP">
        <mat-icon class="color-aprobado">fiber_manual_record</mat-icon> &nbsp;Aprobado&nbsp;
    </div>
    <div class="labelEstadoCP">
        <mat-icon class="color-activado">fiber_manual_record</mat-icon> &nbsp;Activado&nbsp;
    </div>
    <div class="labelEstadoCP">
        <mat-icon class="color-retirado">fiber_manual_record</mat-icon> &nbsp;Retirado&nbsp;
    </div>
    <div class="labelEstadoCP">
        <mat-icon class="color-rechazado">fiber_manual_record</mat-icon> &nbsp;Rechazado&nbsp;
    </div>
</div>




<div class="content-table">
    <table mat-table matTableResponsive [dataSource]="listadoSolicitudCondicionPago" class="mat-elevation-z8 ">
        <caption title="Tabla bandeja de pendientes de condicion de pago"></caption>

        <!-- Column -->
        <ng-container matColumnDef="solicitud">
            <th mat-header-cell *matHeaderCellDef> solicitud</th>
            <td mat-cell *matCellDef="let element" (dblclick)="editarSolicitud(element)"><u>
                    {{element.solicitud}} </u></td>
        </ng-container>
        <!-- Column -->
        <ng-container matColumnDef="ruc">
            <th mat-header-cell *matHeaderCellDef> ruc</th>
            <td mat-cell *matCellDef="let element"><u>
                    {{element.ruc}} </u></td>
        </ng-container>
        <!-- Column -->
        <ng-container matColumnDef="razon_social">
            <th mat-header-cell *matHeaderCellDef> razon_social</th>
            <td mat-cell *matCellDef="let element"><u>
                    {{element.razon_social}} </u></td>
        </ng-container>
        <!-- Column -->
        <ng-container matColumnDef="grupo_cliente">
            <th mat-header-cell *matHeaderCellDef> Razón grupo_cliente</th>
            <td mat-cell *matCellDef="let element"><u>
                    {{element.grupo_cliente.nombre}} </u></td>
        </ng-container>
        <!-- Column -->
        <ng-container matColumnDef="sociedad">
            <th mat-header-cell *matHeaderCellDef> Fecha sociedad</th>
            <td mat-cell *matCellDef="let element"><u>
                    {{element.sociedad  }} </u></td>
        </ng-container>
        <!-- Column -->
        <ng-container matColumnDef="linea_producto">
            <th mat-header-cell *matHeaderCellDef> linea_producto</th>
            <td mat-cell *matCellDef="let element"><u>
                    {{element.linea_producto.nombre}} </u></td>
        </ng-container>
        <ng-container matColumnDef="fecha">
            <th mat-header-cell *matHeaderCellDef> fecha</th>
            <td mat-cell *matCellDef="let element"><u>
                    {{element.fecha | date: 'dd/MM/yyyy'}} </u></td>
        </ng-container>
        <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef> estado</th>
            <td mat-cell *matCellDef="let element"><u>
                    {{element.estado.nombre}} </u></td>
        </ng-container>
        


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</div>