<div class="Header_POPUPEstrategias">
    <div class="titledialog_Config">Nuevo Plan</div>
</div>

<div class="contenidoForm_Config">
    <form [formGroup]="crearFormDialog" (ngSubmit)="crearPlan(crearFormDialog.value)">

        <div class="Title_POPUPConfig">Plan:</div>
        <mat-form-field appearance="outline">
            <mat-label>Seleccionar</mat-label>
            <mat-select formControlName="plan" required>
                <mat-option *ngFor="let tipoPlan of listadoTipoPlanes" [value]="tipoPlan">{{
                    tipoPlan.nombre }}
                </mat-option>
            </mat-select>
        </mat-form-field>



        <div class="botonera_PopUPConfig">
            <button mat-raised-button class="color-secundario" type="button" (click)="onNoClick()">Cancelar</button>
            <button mat-raised-button class="boton-principal-light" type="submit"
                [disabled]="crearFormDialog.invalid">Agregar</button>
        </div>
    </form>
</div>