<div class="botonera-ModuloConfig">
    <div class="titlesectionSolicitud">
        <span>Condición de Pago Regular</span>
    </div>
    <div class="botonera">
        <button mat-raised-button class="boton-principal-light" type="button"
            (click)="onCrearCondicionPagoRegular()">Agregar</button>
    </div>
</div>
<mat-divider class="divisorConfig"></mat-divider>

<app-formulario-configuracion-bandeja-condicion-pago-regular>
</app-formulario-configuracion-bandeja-condicion-pago-regular>
<app-tabla-configuracion-bandeja-condicion-pago-regular></app-tabla-configuracion-bandeja-condicion-pago-regular>