<form [formGroup]="formulary" (ngSubmit)="guardarDatosEmpresa(formulary.value)" *ngIf="clienteData && clienteData.sociedad && clienteData.tipo_canal&& clienteData.grupo_cliente">
    <div class="objeto col-xs-12 col-s-12 col-m-12 col-l-12 col-xl-12">
        <div class="objeto col-xs-12 col-s-6 col-m-4 col-l-3 col-xl-3">
            <div class="label">Sociedad:</div>
            <div class="dato">{{clienteData.sociedad.nombre}}</div>
        </div>
        <div class="objeto formElementoPlano col-xs-12 col-s-6 col-m-4 col-l-3 col-xl-3">
            <div class="label">RUC:</div>
            <div class="dato">{{clienteData.numero_documento}}</div>
        </div>
        <div class="objeto formElementoPlano col-xs-12 col-s-6 col-m-4 col-l-3 col-xl-3">
            <div class="label">Razón Social:</div>
            <div class="dato">{{clienteData.razon_social}}</div>
        </div>

        <div class="objeto formElementoPlano col-xs-12 col-s-6 col-m-4 col-l-3 col-xl-3">
            <div class="label">Código Cliente:</div>
            <div class="dato">{{clienteData.cliente_codigo_sap}}</div>
        </div>
        <div class="objeto formElementoPlano col-xs-12 col-s-6 col-m-4 col-l-3 col-xl-3">
            <div class="label">canal Comercial:</div>
            <div class="dato">{{clienteData.tipo_canal.nombre}}</div>
        </div>
        <div class="objeto formElementoPlano col-xs-12 col-s-6 col-m-4 col-l-3 col-xl-3">
            <div class="label">Grupo Cliente:</div>
            <div class="dato">{{clienteData.grupo_cliente.nombre}}</div>
        </div>

        <div class="objeto col-xs-12 col-s-6 col-m-4 col-l-3 col-xl-3">
            <mat-form-field appearance="outline">
                <mat-label>Sustento Comercial</mat-label>
                <input matInput formControlName="sustento_comercial">
            </mat-form-field>
        </div>
        <mat-form-field appearance="outline">
            <mat-label>Oficina de Venta</mat-label>
            <mat-select formControlName="id_zonal" required>
                <mat-option *ngFor="let zonal of listadoZonales" [value]="zonal.id">{{ zonal.nombre }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <div class="objeto col-xs-12 col-s-6 col-m-4 col-l-3 col-xl-3">
            <mat-form-field appearance="outline">
                <mat-label>Teléfono</mat-label>
                <input matInput formControlName="telefono">
            </mat-form-field>
        </div>
        <div class="objeto col-xs-12 col-s-6 col-m-4 col-l-3 col-xl-3">
            <mat-form-field appearance="outline">
                <mat-label>Correo Electrónico</mat-label>
                <input matInput formControlName="correo">
            </mat-form-field>
        </div>
        <div class="objeto col-xs-12 col-s-6 col-m-4 col-l-3 col-xl-3">
            <button mat-flat-button class="boton-secundario" type="submit"
                [disabled]="formulary.invalid">Guardar</button>
        </div>
    </div>
</form>