<form [formGroup]="formulary" (ngSubmit)="guardarDatosEmpresa(formulary.value)"
    *ngIf="clienteData && clienteData.sociedad && clienteData.tipo_canal&& clienteData.grupo_cliente">
    <div class="objetoEmpresa objeto formElementoPlano">
        <div class="objeto formElementoPlano">
            <div class="label">Sociedad:</div>
            <div class="dato">{{clienteData.sociedad.nombre}}</div>
        </div>
        <div class="objeto formElementoPlano">
            <div class="label">RUC:</div>
            <div class="dato">{{clienteData.numero_documento}}</div>
        </div>
        <div class="objeto formElementoPlano">
            <div class="label">Razón Social:</div>
            <div class="dato">{{clienteData.razon_social}}</div>
        </div>

        <div class="objeto formElementoPlano">
            <div class="label">Código Cliente:</div>
            <div class="dato">{{clienteData.cliente_codigo_sap}}</div>
        </div>
        <div class="objeto formElementoPlano">
            <div class="label">Canal Comercial:</div>
            <div class="dato">{{clienteData.tipo_canal.nombre}}</div>
        </div>
        <div class="objeto formElementoPlano">
            <div class="label">Grupo Cliente:</div>
            <div class="dato">{{clienteData.grupo_cliente.nombre}}</div>
        </div>

        <div class="objeto formElementoPlano">
            <div class="label">Sustento Comercial:</div>
            <div class="dato">
                <mat-form-field appearance="fill">
                    <mat-label>Sustento Comercial</mat-label>
                    <input matInput formControlName="sustento_comercial">
                </mat-form-field>
            </div>
        </div>

        <div class="objeto formElementoPlano">
            <div class="label">Oficina de Venta:</div>
            <div class="dato">
                <mat-form-field appearance="fill">
                    <mat-label>Oficina de Venta</mat-label>
                    <mat-select formControlName="id_zonal" required>
                        <mat-option *ngFor="let zonal of listadoZonales" [value]="zonal.codigo_sap">{{ zonal.nombre }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div class="objeto formElementoPlano">
            <div class="label">Sustento Comercial:</div>
            <div class="dato">
                <mat-form-field appearance="fill">
                    <mat-label>Teléfono</mat-label>
                    <input matInput formControlName="telefono">
                </mat-form-field>
            </div>
        </div>


        <div class="objeto formElementoPlano">
            <div class="label">Sustento Comercial:</div>
            <div class="dato">
                <mat-form-field appearance="fill">
                    <mat-label>Correo Electrónico</mat-label>
                    <input matInput formControlName="correo">
                </mat-form-field>
            </div>
        </div>

        <div class="objeto">
            <button mat-flat-button class="boton-secundario" type="submit"
                [disabled]="formulary.invalid">Guardar</button>
        </div>
    </div>
</form>