<form [formGroup]="formulary">
    <div class="objeto col-xs-12 col-s-12 col-m-12 col-l-12 col-xl-12">
        <div class="objeto col-xs-12 col-s-6 col-m-4 col-l-3 col-xl-3">
            <mat-form-field appearance="outline">
                <mat-label>Sociedad</mat-label>
                <input matInput name="sociedadEmpresa" disabled="true">
            </mat-form-field>
        </div>
        <div class="objeto col-xs-12 col-s-6 col-m-4 col-l-3 col-xl-3">
            <mat-form-field appearance="outline">
                <mat-label>RUC</mat-label>
                <input matInput formControlName="rucEmpresa" disabled="true">
            </mat-form-field>
        </div>
        <div class="objeto col-xs-12 col-s-6 col-m-4 col-l-3 col-xl-3">
            <mat-form-field appearance="outline">
                <mat-label>Razón Social</mat-label>
                <input matInput formControlName="razonSocialEmpresa" disabled="true">
            </mat-form-field>
        </div>
        <div class="objeto col-xs-12 col-s-6 col-m-4 col-l-3 col-xl-3">
            <mat-form-field appearance="outline">
                <mat-label>Código Cliente</mat-label>
                <input matInput formControlName="codigoCliEmpresa" disabled="true">
            </mat-form-field>
        </div>
        <div class="objeto col-xs-12 col-s-6 col-m-4 col-l-3 col-xl-3">
            <mat-form-field appearance="outline">
                <mat-label>Canal Comercial</mat-label>
                <input matInput formControlName="canalComEmpresa" disabled="true">
            </mat-form-field>
        </div>
        <div class="objeto col-xs-12 col-s-6 col-m-4 col-l-3 col-xl-3">
            <mat-form-field appearance="outline">
                <mat-label>Grupo Cliente Empresa</mat-label>
                <input matInput formControlName="grupoCliEmpresa" disabled="true">
            </mat-form-field>
        </div>
        <div class="objeto col-xs-12 col-s-6 col-m-4 col-l-3 col-xl-3">
            <mat-form-field appearance="outline">
                <mat-label>Sustento Comercial</mat-label>
                <input matInput formControlName="sustentoComercialEmpresa">
            </mat-form-field>
        </div>
        <div class="objeto col-xs-12 col-s-6 col-m-4 col-l-3 col-xl-3">
            <mat-form-field appearance="outline">
                <mat-label>Oficina Venta</mat-label>
                <input matInput formControlName="oficinaVentaEmpresa">
            </mat-form-field>
        </div>
        <div class="objeto col-xs-12 col-s-6 col-m-4 col-l-3 col-xl-3">
            <mat-form-field appearance="outline">
                <mat-label>Teléfono</mat-label>
                <input matInput formControlName="telefonoEmpresa">
            </mat-form-field>
        </div>
        <div class="objeto col-xs-12 col-s-6 col-m-4 col-l-3 col-xl-3">
            <mat-form-field appearance="outline">
                <mat-label>Correo Electrónico</mat-label>
                <input matInput formControlName="correoEmpresa">
            </mat-form-field>
        </div>
    </div>
</form>
