<div class="content-table" *ngIf="resumenDino.length > 0">
    <br>
<div *ngFor="let resumen of resumenDino" >
    <br>
    <table border="0">
        <caption title="Resumen Riesgo"></caption>
        <tr class="Header_RR">
            <th class="Header_RRWhite">{{(resumen?resumen.nombre_sociedad_codigo_sap:' ')}} </th>
            <th class="Header_RRWhite">Línea de <br> Crédito Actual</th>
            <th class="Header_RRWhite">Moneda</th>
            <th class="Header_RRWhite">Línea de <br> Crédito Actual </th>
            <th class="Header_R5">Línea de Crédito <br>Solicitada</th>
            <th class="Header_R6">Moneda</th>
            <th class="Header_R7">Línea de Crédito <br>Solicitada S/.</th>
        </tr>
        <tr *ngFor="let row of resumen.detalle">
            <td [ngClass]="resumenRiesgo.ClassName"> {{(row.nombre_tipo_documento_valorado?row.nombre_tipo_documento_valorado+'
                '+row.nombre_linea_credito:'')}}</td>
            <td>{{(row.linea_credito_actual?row.linea_credito_actual:'NR')}}</td>
            <td>{{(row.moneda_actual?row.moneda_actual:'NR')}}</td>
            <td>{{(row.linea_credito_actual_soles?row.linea_credito_actual_soles:'NR')}}</td>
            <td>{{(row.linea_credito_solicitada?row.linea_credito_solicitada:'NR')}}</td>
            <td>{{(row.moneda_solicitada?row.moneda_solicitada:'NR')}}</td>
            <td>{{(row.linea_credito_solicitada_soles?row.linea_credito_solicitada_soles:'NR')}}</td>
        
        </tr>
    </table>
    <br>
</div>

</div>


<div class="content-table col-s-12 col-m-12 col-xl-5 col-l-6" *ngIf="resumenConsolidado">
    <br>
    <table border="1" >
        <caption title="listadoResumenTotalPacasmayo"></caption>
        <tr>
            <th>{{(resumenConsolidado.nombre_grupo_sociedad?resumenConsolidado.nombre_grupo_sociedad:' ')}} </th>
            <th>Linea Credito Actual S/.</th>
            <th>Linea Credito Solicitada S/.</th>
            <th>Variación</th>
        </tr>
        <tr *ngFor="let row of resumenConsolidado.detalle">
            <td>{{(row.nombre_tipo_documento_valorado?row.nombre_tipo_documento_valorado+' 
                '+row.nombre_linea_credito:'')}}</td>
            <td>{{(row.linea_credito_actual_soles?row.linea_credito_actual_soles:'0')}}</td>
            <td>{{(row.linea_credito_solicitada_soles?row.linea_credito_solicitada_soles:'0')}}</td>
            <td>{{(row.variacion?row.variacion:'0')}}</td>

        </tr>
    </table>


</div>