<div class="titlesection col-s-11 col- col-m-11 col-xl-11">
    Administración de Estrategias
    <br><br>
    <mat-divider></mat-divider>
</div>
<br>


<div class="botonera col-xl-12 col-l-12 col-m-12 col-s-12">
    <button mat-flat-button class="boton-principal-light" (click)="openAgregarEstrategiaSociedad()">Agregar</button>
</div>
<br>
<div class="content-table col-s-11 col- col-m-11 col-xl-11">
    <span class="label-info"><mat-icon>info</mat-icon> &nbsp; Para editar el registro dar doble clic en la sociedad.</span>
    <table mat-table [dataSource]="listadoEstrategiasPorSociedad" class="mat-elevation-z8" >
        <!-- Table estrategias - por sociedad -->
        <!-- Column -->
        <ng-container matColumnDef="sociedad">
            <th mat-header-cell *matHeaderCellDef> Sociedad </th>
            <td mat-cell *matCellDef="let element" (dblclick)="openEditarEstrategiaSociedad(element)"> {{element.usuario.sociedad_codigo_sap}} </td>
        </ng-container>

        <!-- Column -->
        <ng-container matColumnDef="rol">
            <th mat-header-cell *matHeaderCellDef> Rol </th>
            <td mat-cell *matCellDef="let element"> {{element.estadoRol.rol.nombre}} </td>
        </ng-container>
        <!-- Column -->
        <ng-container matColumnDef="usuario">
            <th mat-header-cell *matHeaderCellDef> Usuario </th>
            <td mat-cell *matCellDef="let element"> {{element.usuario.nombre}} </td>
        </ng-container>
        <!-- Column -->
        <ng-container matColumnDef="revisor">
            <th mat-header-cell *matHeaderCellDef> Revisor </th>
            <td mat-cell *matCellDef="let element"> {{element.revisor?element.revisor.nombre:''}} </td>
        </ng-container>
        <ng-container matColumnDef="activo">
            <th mat-header-cell *matHeaderCellDef> Activo </th>
            <td mat-cell *matCellDef="let element">
                <mat-slide-toggle [(ngModel)]="element.activo" (ngModelChange)="toggleEstrategiaEstadoPorSociedad(element)"></mat-slide-toggle>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsSociedad"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsSociedad;"></tr>
    </table>

</div>



