<div class="botonera-ModuloConfig">
    <div class="titlesectionSolicitud">
        <span>Grupos Empresariales</span>
    </div>
    <div class="botonera">
        <button mat-flat-button class="boton-principal-light" (click)="openAgregarGrupo()">Agregar</button>
    </div>

</div>

<mat-divider class="divisorConfig"></mat-divider>

<div class="Seleccion_TCliente">
    <form [formGroup]="formulary" (ngSubmit)="filtrarGrupoEmpresarial()">

        <div class="buscar">
            <mat-form-field class="formInput" appearance="fill">
                <mat-label>Nombre del grupo</mat-label>
                <input matInput formControlName="nombreGrupo" placeholder="nombre del grupo">
            </mat-form-field>

            <span class="formInput">O</span>

            <mat-form-field class="formInput" appearance="fill">
                <mat-label>RUC de algun integrante</mat-label>
                <input matInput formControlName="rucGrupo" placeholder="RUC de una empresa del grupo">
            </mat-form-field>


            <div class="formInput">
                <button mat-mini-fab color="white" aria-label="Buscar" class="boton-buscar" type="submit">
                    <mat-icon>search</mat-icon>
                </button>
            </div>
        </div>






    </form>
</div>
<br>
<div class="content-table">
    <table mat-table [dataSource]="listadoGrupos | paginator:page" class="mat-elevation-z8">
        <caption title="Listado Grupos Empresariales y solicitudes"></caption>

        <!-- Column -->
        <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef>Nombre de grupo </th>
            <td mat-cell *matCellDef="let element" (dblclick)="openEditar(element)"> {{element.nombre}} </td>
        </ng-container>
        <!-- Column -->
        <ng-container matColumnDef="estado_cliente_agrupacion">
            <th mat-header-cell *matHeaderCellDef>Estado </th>
            <td mat-cell *matCellDef="let element"> {{ element.nombre_estado }} </td>
        </ng-container>
        <!-- Column -->
        <ng-container matColumnDef="usuario_creacion">
            <th mat-header-cell *matHeaderCellDef>Solicitante </th>
            <td mat-cell *matCellDef="let element"> {{element.usuario_nombre}} </td>
        </ng-container>


        <!-- Column -->
        <!-- <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef> Activo </th>
            <td mat-cell *matCellDef="let element">
                <span *ngIf="mostrarEliminar(element)">
          <mat-slide-toggle [(ngModel)]="element.activo" (ngModelChange)="toggleGrupoActivo(element)"
            [disabled]="!isAdmin"></mat-slide-toggle>
        </span>
            </td>
        </ng-container> -->

        <!-- Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let element">
                <button mat-flat-button class="boton-secundario"
                    (click)="openAsignarIntegrantesGrupo(element)">Integrantes</button>
                &nbsp;
                <button mat-icon-button (click)="eliminar(element)" *ngIf="mostrarEliminar(element)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div class="derecha">
        <span color="accent" class="labelPager"> {{page}} a {{(page + itemPerPage > totalRegister)? totalRegister :
            page + itemPerPage }} de {{totalRegister}} registros</span>
            &nbsp;&nbsp;
        <button mat-raised-button class="boton-secundario" (click)="prevPage()">Anterior</button>
        &nbsp;
        <button mat-raised-button class="boton-secundario" (click)="nextPage()"
            [disabled]="(page+itemPerPage>totalRegister)">Siguiente</button>
    </div>
</div>