<div class="content-table">

    <table mat-table matTableResponsive [dataSource]="dataSource" class="mat-elevation-z8">
        <caption title="Tabla bandeja de pendientes de condicion de pago"></caption>

        <ng-container matColumnDef="solicitud">
            <th mat-header-cell *matHeaderCellDef> Solicitud</th>
             <td mat-cell *matCellDef="let element"><u> {{
                    element.fecha_creacion | date: 'yyyy' + "-" +
                    element.sociedad_codigo_sap + "-" +
                    element.id_solicitud
                    }} </u></td>
        </ng-container>

        <ng-container matColumnDef="ruc">
            <th mat-header-cell *matHeaderCellDef> RUC</th>
            <td mat-cell *matCellDef="let element"><u>{{element.empresa.numero_documento}} </u></td>
        </ng-container>

        <ng-container matColumnDef="razon_social">
            <th mat-header-cell *matHeaderCellDef> Razón Social</th>
            <td mat-cell *matCellDef="let element"><u>{{element.empresa.razon_social}} </u></td>
        </ng-container>

        <ng-container matColumnDef="grupo_cliente">
            <th mat-header-cell *matHeaderCellDef> Grupo de Cliente</th>
            <td mat-cell *matCellDef="let element"><u>{{element.grupo_cliente.nombre}} </u></td>
        </ng-container>

        <ng-container matColumnDef="fecha_solicitud">
            <th mat-header-cell *matHeaderCellDef> Fecha de Solicitud</th>
            <td mat-cell *matCellDef="let element"><u>{{element.fecha_creacion | date: 'dd/MM/yyyy' }} </u>
            </td>
        </ng-container>

        <ng-container matColumnDef="noData">
            <mat-footer-cell class="Columna_NoData" *matFooterCellDef [attr.colspan]="displayedColumns.length">
              No se encontrarón Condiciones de Pago
            </mat-footer-cell>
          </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onDetalleCondicionPago(row.id)"></tr>
        <tr mat-footer-row *matFooterRowDef="['noData']" [hidden]="dataSource && dataSource?.data?.length > 0"></tr>
    </table>
    <mat-paginator [hidden]="!dataSource?.data?.length" [pageSizeOptions]="[5,10,20,50,100]" showFirstLastButtons></mat-paginator>
</div>