<mat-toolbar class="toolbar-color">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="onToggleSidenav()"> 
     <mat-icon class="color-secundario">menu</mat-icon>
   </button>
   <span class="color-principal">SISCRED</span>
   <span class="example-spacer"></span>
   <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
     <mat-icon>person</mat-icon>
   </button>
   <span class="color-principal" *ngIf="userInfo">{{ ( userInfo?nombre:'') }}</span>
 </mat-toolbar>