<div class="content-step">
    <div class="FormDatosObra">
        <form [formGroup]="thirdFormGroup" (ngSubmit)="getDataObra(thirdFormGroup.value)">
            <div class="Boton_DatosObra" *ngIf="ESTADO_SOLICITUD==ESTADO_SOLICITUD_EN_SOLICITANTE">
                <div class="Boton_DatosObra">
                    <div class="label" style="font-size: 14px">Código de Obra:</div>
                    <mat-form-field appearance="fill">
                        <mat-label>Ingresar Código de obra</mat-label>
                        <input matInput formControlName="codigo_obra" placeholder="ingrese el código de la obra">
                    </mat-form-field>
                </div>
                <div class="Boton_DatosObra">
                    &nbsp;&nbsp;&nbsp;
                    <button mat-flat-button aria-label="Buscar" class="boton-principal_popup" type="submit">
                        Agregar
                    </button>

                    <!-- <button mat-flat-button aria-label="Buscar" class="boton-secundario_popup" type="button" (click)="quitarObra()">
                        <span>Quitar</span>
                    </button> -->
                </div>
            </div>
        </form>
    </div>

    <div class="content-body-step">
        <form [formGroup]="formulary">
            <div formArrayName="obrasArray">
                <div class="">
                    <mat-accordion>
                        <!--  Lista de Obras -->
                        <mat-expansion-panel [expanded]="ESTADO_SOLICITUD==ESTADO_SOLICITUD_EN_REVISION"
                            *ngFor="let obra of obrasArray.controls;let i=index" [formGroupName]="i">
                            <mat-expansion-panel-header>
                                <mat-panel-title class="DatosObra_Acordeon">

                                    <div class="DatosObraHeader">
                                        <div class="labelDatosObra">ID Obra:</div>
                                        <div style="padding-right: 50px;" class="">
                                            {{obra.get('obra_codigo_isicom').value}}</div>
                                        <div class="labelDatosObra">Nombre Obra:</div>
                                        <div style="padding-right: 50px;" class="">{{obra.get('nombre_obra').value}}
                                        </div>
                                    </div>
                                    <div>
                                        <button mat-icon-button
                                            (click)="eliminarSolicitudObra(formulary.value['obrasArray'][i])">
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                    </div>

                                </mat-panel-title>
                            </mat-expansion-panel-header>

                            <div class="objetoEmpresa DatosObraInfo">
                                <div class="DatosObrasColumnas">
                                    <div class="ObraDatosPlano">
                                        <div class="label">Dueño:</div>
                                        <div class="dato">{{obra.get('dueno').value}}</div>
                                    </div>
                                    <div class="ObraDatosPlano">
                                        <div class="label">Plazo Obra:</div>
                                        <div class="dato">{{obra.get('plazo_obra').value}}</div>
                                    </div>
                                    <div class="ObraDatosPlano">
                                        <div class="label">Ubicación:</div>
                                        <div class="dato">{{obra.get('ubicacion').value}}</div>
                                    </div>
                                </div>
                                <div class="DatosObrasColumnas">
                                    <div class="ObraDatosPlano">
                                        <div class="label">Fecha Inicio de Obra:</div>
                                        <div class="dato">{{obra.get('fecha_inicio_obra').value | date: 'dd/MM/yyyy'}}
                                        </div>
                                    </div>
                                    <div class="ObraDatosPlano">
                                        <div class="label">Fecha fin de Obra:</div>
                                        <div class="dato">{{obra.get('fecha_fin_obra').value | date: 'dd/MM/yyyy'}}
                                        </div>
                                    </div>

                                </div>
                                <div class="DatosObrasColumnas">
                                    <div class="ObraDatosPlano">
                                        <div class="label">Fecha Inicio de Atenciones:</div>
                                        <div class="dato">
                                            <mat-form-field appearance="fill">
                                                <mat-label>Seleccionar Fecha</mat-label>
                                                <input matInput [matDatepicker]="picker1"
                                                    formControlName="fecha_inicio_atencion">
                                                <mat-datepicker-toggle matSuffix [for]="picker1">
                                                </mat-datepicker-toggle>
                                                <mat-datepicker #picker1 color="primary"></mat-datepicker>
                                                <mat-hint>
                                                    <mat-error [hidden]="!(formErrors.fecha_inicio_atencion)">
                                                        {{formErrors.fecha_inicio_atencion}}
                                                    </mat-error>
                                                </mat-hint>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="ObraDatosPlano">
                                        <div class="label">Fecha Fin de Atenciones:</div>
                                        <div class="dato">
                                            <mat-form-field appearance="fill">
                                                <mat-label>Seleccionar Fecha</mat-label>
                                                <input matInput [matDatepicker]="picker2"
                                                    formControlName="fecha_fin_atencion">
                                                <mat-datepicker-toggle matSuffix [for]="picker2">
                                                </mat-datepicker-toggle>
                                                <mat-datepicker #picker2 color="primary"></mat-datepicker>
                                                <mat-hint>
                                                    <mat-error [hidden]="!(formErrors.fecha_fin_atencion)">
                                                        {{formErrors.fecha_fin_atencion}}
                                                    </mat-error>
                                                </mat-hint>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                                <div class="ObrasDatosColumnas">
                                    <div class="ObraDatosPlano">
                                        <div class="label">Información Adicional: <mat-icon class="icon_help" matTooltip="Información de Ejemplo: M2, Número de viviendas, resumen de lo que trata la obra, etc." matTooltipClass="TooltipReemplazo">help</mat-icon></div>
                                        <div class="">
                                            <mat-form-field style="width: 708px;" appearance="fill">
                                                <mat-label>Ingresar información adicional...</mat-label>
                                                <textarea matInput cdkTextareaAutosize
                                                    formControlName="informacion_adicional"></textarea>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="ObraDatosPlano">
                                        <button mat-flat-button class="boton-secundario" type="submit"
                                            (click)="actualizarSolicitudObra(formulary.value['obrasArray'][i])"
                                            [disabled]="formulary.invalid">Guardar</button>
                                    </div>

                                </div>
                            </div>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
            </div>
        </form>


    </div>
    <mat-divider *ngIf="ESTADO_SOLICITUD==ESTADO_SOLICITUD_EN_SOLICITANTE"></mat-divider>
    <div class="botonera-step " *ngIf="ESTADO_SOLICITUD==ESTADO_SOLICITUD_EN_SOLICITANTE">
        <button mat-raised-button class="boton-secundario" matStepperPrevious>Anterior</button>&nbsp;
        <button mat-raised-button class="boton-principal-light " matStepperNext>Siguiente</button>
    </div>