<div class="content-step">
    <div class="content-body-step">
        <div class="contenidoForm">
            <form [formGroup]="thirdFormGroup" (ngSubmit)="getDataObra(thirdFormGroup.value)">
                <div class="objeto col-xs-12 col-s-12 col-m-12 col-l-12 col-xl-12">
                    <div class="objeto col-xs-12 col-s-6 col-m-4 col-l-3 col-xl-3">
                        <mat-form-field appearance="outline">
                            <mat-label>Codigo Obra</mat-label>
                            <input matInput formControlName="codigo_obra" placeholder="ingrese el código de la obra">
                        </mat-form-field>

                    </div>

                    <div class="objetoBoton col-xs-12 col-s-6 col-m-4 col-l-9 col-xl-9">
                        <button mat-flat-button color="primary" aria-label="Buscar" class="boton-principal-light"
                            type="submit">
                            Agregar
                        </button>
                        &nbsp;
                        <button mat-flat-button aria-label="Buscar" class="boton-secundario ">
                            Quitar
                        </button>
                    </div>
                    <div class="objetoBoton col-xs-12 col-s-6 col-m-4 col-l-3 col-xl-3">

                    </div>
                </div>

            </form>
        </div>
        <div class="objetoSimple col-xs-12 col-s-12 col-m-12 col-l-12 col-xl-12">
            <form [formGroup]="formulary"   >
                <div formArrayName="obrasArray">
            <mat-accordion>
                <!--  Lista de Obras -->
                <mat-expansion-panel *ngFor="let obra of obrasArray.controls;let i=index" [formGroupName]="i">
                    <mat-expansion-panel-header>
                        <mat-panel-title>

                            <div class="label">ID Obra:</div>
                            <div class="dato">{{obra.get('obra_codigo_isicom').value}}</div>
                        </mat-panel-title>
                        <mat-panel-description>
                            <div class="label">Nombre Obra:</div>
                            <div class="dato">{{obra.get('nombre_obra').value}}</div> 
                          </mat-panel-description>
                    </mat-expansion-panel-header>
                    
                        <div class="objeto col-xs-12 col-s-12 col-m-12 col-l-12 col-xl-12">
                            <div class="objeto formElementoPlano col-xs-12 col-s-6 col-m-4 col-l-3 col-xl-3">
                                <div class="label">Dueño:</div>
                                <div class="dato">{{obra.get('dueno').value}}</div>
                            </div>
                            <div class="objeto formElementoPlano col-xs-12 col-s-6 col-m-4 col-l-3 col-xl-3">
                                <div class="label">Plazo Obra:</div>
                                <div class="dato">{{obra.get('plazo_obra').value}}</div>
                            </div>
                            <div class="objeto formElementoPlano col-xs-12 col-s-6 col-m-4 col-l-3 col-xl-3">
                                <div class="label">Ubicación:</div>
                                <div class="dato">{{obra.get('ubicacion').value}}</div>
                            </div>

                            <div class="objeto formElementoPlano col-xs-12 col-s-6 col-m-4 col-l-3 col-xl-3">
                                <div class="label">Fecha Inicio de Obra:</div>
                                <div class="dato">{{obra.get('fecha_inicio_obra').value | date: 'dd/MM/yyyy'}}</div>
                            </div>
                            <div class="objeto formElementoPlano col-xs-12 col-s-6 col-m-4 col-l-3 col-xl-3">
                                <div class="label">Fecha fin de Obra:</div>
                                <div class="dato">{{obra.get('fecha_fin_obra').value | date: 'dd/MM/yyyy'}}</div>
                            </div>
                          

                            <div class="objeto col-xs-12 col-s-6 col-m-4 col-l-3 col-xl-3">
                                <mat-form-field appearance="outline">
                                    <mat-label>Información Adicional</mat-label>
                                    <input matInput formControlName="informacion_adicional">
                                </mat-form-field>
                            </div>
                           
                            <div class="objeto col-xs-12 col-s-6 col-m-4 col-l-3 col-xl-3">
                                <mat-form-field appearance="outline">
                                    <mat-label>fecha inicio de atenciones</mat-label>
                                    <input matInput formControlName="fecha_inicio_atencion">
                                </mat-form-field>
                            </div>
                            <div class="objeto col-xs-12 col-s-6 col-m-4 col-l-3 col-xl-3">
                                <mat-form-field appearance="outline">
                                    <mat-label>fecha final de atenciones </mat-label>
                                    <input matInput formControlName="fecha_fin_atencion">
                                </mat-form-field>
                            </div>
                            <div class="objeto col-xs-12 col-s-6 col-m-4 col-l-3 col-xl-3">
                                <button mat-flat-button class="boton-secundario" type="submit" 
                                (click)="actualizarSolicitudObra(formulary.value['obrasArray'][i])" 
                                    [disabled]="formulary.invalid">Guardar</button>
                            </div>
                        </div>
                    
                </mat-expansion-panel>
            </mat-accordion>
        </div>
        </form>
        </div>

    </div>
    <div class="botonera-step ">
        <button mat-raised-button class="boton-secundario" matStepperPrevious>Anterior</button>&nbsp;
        <button mat-raised-button class="boton-principal-light " matStepperNext>Siguiente</button>
    </div>
</div>