<div class="title-add-element color-title">Editar Estrategia</div>
<div class="contenidoForm">
    <form [formGroup]="formulary" (ngSubmit)="editarEstrategiaRolUsuario(formulary.value)">
        
        <div class="col-12">
            <mat-form-field appearance="outline">
                <mat-label>Rol</mat-label>
                <mat-select formControlName="rol" [compareWith]="compareRol" (selectionChange)="selectedRol()" required>
                    <mat-option *ngFor="let rol of listadoRoles" [value]="rol">{{ rol.nombre }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-12">
            <mat-form-field appearance="outline">
                <mat-label>Usuario</mat-label>
                <input type="text" matInput placeholder="Usuario" formControlName="usuario" [matAutocomplete]="auto" required>
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                    <mat-option *ngFor="let option of filteredUsuario | async" [value]="option">
                        {{option.nombre}}
                    </mat-option>
                </mat-autocomplete>
                <mat-hint>
                    <mat-error [hidden]="!(formErrors.usuario)">
                        {{formErrors.usuario}}
                    </mat-error>
                </mat-hint>

            </mat-form-field>
        </div>
        
        <div class="col-12" *ngIf="visibleRolSolicitante">
            <mat-form-field appearance="outline">
                <mat-label>Sociedad</mat-label>
                <mat-select formControlName="sociedad" [compareWith]="compareSociedad" required>
                    <mat-option *ngFor="let sociedad of listadoSociedades" [value]="sociedad">{{ sociedad.nombre }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-12" *ngIf="visibleRolSolicitante">
            <mat-form-field appearance="outline">
                <mat-label>Grupo Cliente</mat-label>
                <mat-select formControlName="grupo_cliente" [compareWith]="compareGrupoCliente" required>
                    <mat-option *ngFor="let grupo_cliente of listadoGruposCliente" [value]="grupo_cliente">{{ grupo_cliente.nombre }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        
        
        <div class="col-12" *ngIf="visibleRolSolicitante">
            <b>Datos del Revisor:</b>
            <br><br>
        </div>
        <div class="col-12" *ngIf="visibleRolSolicitante">
            <mat-form-field appearance="outline">
                <mat-label>Revisor</mat-label>
                <input type="text" matInput placeholder="Revisor" formControlName="usuario_revisor" [matAutocomplete]="autoRevisor">
                <mat-autocomplete #autoRevisor="matAutocomplete" [displayWith]="displayFnRevisor">
                    <mat-option *ngFor="let option of filteredUsuarioRevisor | async" [value]="option">
                        {{option.nombre}}
                    </mat-option>
                </mat-autocomplete>
                <mat-hint>
                    <mat-error [hidden]="!(formErrors.usuario_revisor)">
                        {{formErrors.usuario_revisor}}
                    </mat-error>
                </mat-hint>

            </mat-form-field>
        </div>
       
      
        <button mat-raised-button class="color-secundario" type="button" (click)="onNoClick('CONFIRM_DLG_NO')">Cancelar</button> &nbsp;
        <button mat-raised-button class="boton-principal-light" type="submit" [disabled]="formulary.invalid">Actualizar</button>
    </form>
</div>
