<div class="content-form-dialog">
    <br>
    <div class="titledialog color-title">Solicitud de Condiciones de Pago</div>
    <div class="body-dialog">
        <div class="contenidoForm">

            <form [formGroup]="formTemplate" (ngSubmit)="onSearch()">
                <section class="inline-flex">
                    <mat-form-field appearance="fill" class="formBandejas">
                        <mat-label>Sociedad</mat-label>
                        <mat-select formControlName="sociedad">
                            <mat-option *ngFor="let society of society$ | async" [value]="society.codigo_sap">{{
                                "("+society.codigo_sap+")" + " - " + society.nombre }}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="fill" class="formBandejas">
                        <mat-label>Código SAP</mat-label>
                        <input formControlName="codigo_sap" matInput>
                    </mat-form-field>


                    <div class="formBandejas">
                        <button mat-mini-fab color="white" [disabled]="!formTemplate.valid" aria-label="Buscar"
                            class="boton-buscar" type="submit">
                            <mat-icon>search</mat-icon>
                        </button>
                    </div>
                </section>

                <ng-container *ngIf="(client | keyvalue)?.length">
                    <div class="objetoNuevoPlan">
                        <strong>Codigo SAP :</strong>
                        <span>{{client?.sociedad}}</span>
                    </div>

                    <div class="objetoNuevoPlan">
                        <strong>Razón Social:</strong>
                        <span>{{client?.razon_social}}</span>
                    </div>

                    <div class="objetoNuevoPlan">
                        <strong>Grupo Cliente:</strong>
                        <span>{{client?.grupo_cliente}}</span>
                    </div>

                    <div class="objetoNuevoPlan">
                        <strong>Canal Comercial :</strong>
                        <span>{{client?.canal_comercial}}</span>
                    </div>

                    <div class="objetoNuevoPlan">
                        <strong>Zonal:</strong>
                        <span>{{client?.zonal}}</span>
                    </div>

                    <div class="objetoNuevoPlan">
                        <mat-form-field appearance="fill">
                            <mat-label>Línea de Productos</mat-label>
                            <mat-select formControlName="linea_producto" multiple>
                                <mat-option (onSelectionChange)="change($event)" *ngFor="let conditionPayment of conditionPayment$ | async"
                                    [value]="conditionPayment"> {{ conditionPayment.linea_producto.nombre }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <article>
                        <table #table mat-table [dataSource]="lineaProductoTable.controls" formArrayName="lineaProductoTable" class="tableforms mat-elevation-z8">

                            <ng-container matColumnDef="productos">
                                <th mat-header-cell *matHeaderCellDef> Productos </th>
                                <td mat-cell *matCellDef="let element"> {{ element.get('productos').value}}</td>
                            </ng-container>

                            <ng-container matColumnDef="condicion_pago_regular">
                                <th mat-header-cell *matHeaderCellDef> Condición de Pago Regular </th>
                                <td mat-cell *matCellDef="let element"> {{ element.get('valor').value}} </td>
                            </ng-container>

                            <ng-container matColumnDef="condicion_pago_actual">
                                <th mat-header-cell *matHeaderCellDef> Condición de Pago Actual </th>
                                <td mat-cell *matCellDef="let element"> {{ element.get('valor').value}} </td>
                            </ng-container>

                            <ng-container matColumnDef="nueva_condicion_pago">
                                <th mat-header-cell *matHeaderCellDef> Nueva Condición de Pago </th>
                                <td mat-cell *matCellDef="let element let rowIndex = index" [formGroupName]="rowIndex">
                                    <mat-form-field appearance="fill">
                                        <input matInput formControlName="valor_nuevo"
                                            placeholder="Ingrese nueva condición" type="number">
                                    </mat-form-field>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="fecha_limite">
                                <th mat-header-cell *matHeaderCellDef> Fecha límite </th>
                                <td mat-cell *matCellDef="let element let rowIndex = index" [formGroupName]="rowIndex">
                                    <mat-form-field appearance="fill" (click)="picker.open()">
                                        <input [min]="minDate" formControlName="fecha_vigencia" readonly matInput
                                            [matDatepicker]="picker">
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                    </mat-form-field>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </article>

                    <div class="objetoNuevoPlan">
                        <mat-form-field appearance="fill">
                            <textarea matInput formControlName="observacion"
                                placeholder="Llenar campo si la condición de pago es para un código de material en específico">
                            </textarea>
                        </mat-form-field>
                    </div>

                    <div class="objetoBoton">
                        <button mat-raised-button class="boton-secundario_popup" type="button">Cerrar</button>
                        <button mat-raised-button class="boton-principal_popup" (click)="onSendConditionPayment()"
                            type="button">Aplicar</button>
                    </div>
                </ng-container>
            </form>

        </div>
    </div>
</div>