<div class="body-dialog">
  <div class="botonera-superior">
    <div class="titlesectionSolicitud">
      <span>Solicitud de Crédito</span>
    </div>
    <div>
     <!--  <button mat-raised-button class="boton-secundario" type="button" >Anular Solicitud</button> -->
    </div>
  </div>

  <mat-divider class="divisorSolicitud"></mat-divider>

  <mat-horizontal-stepper linear #stepper>
    <mat-step [stepControl]="firstForm">
      <div class="content-stepper">
        <ng-template matStepLabel>Datos del Cliente</ng-template>
        <mat-divider class="divisorInfoSolicitud"></mat-divider>
        <app-datos-cliente-sc [id_solicitud_editar]="id_solicitud_editar" (id_solicitud_hija)="send($event)"
          (onFirstFormGroup)="onFirstFormGroupEvent($event)"></app-datos-cliente-sc>
      </div>
    </mat-step>

    <mat-step>
      <div class="content-stepper">
        <ng-template matStepLabel>Planes de Crédito</ng-template>
        <mat-divider class="divisorInfoSolicitud"></mat-divider>
        <app-datos-planes-sc [id_solicitud_editar]="id_solicitud_editar" (id_solicitud_hija)="send($event)">
        </app-datos-planes-sc>
      </div>
    </mat-step>
    <mat-step [stepControl]="thirdForm">
      <div>
        <ng-template matStepLabel>Datos de Obra</ng-template>

        <mat-divider class="divisorInfoSolicitud"></mat-divider>
        <app-datos-obras-sc (onThirdFormGroup)="onThirdFormGroupEvent($event)"
          [id_solicitud_editar]="id_solicitud_editar"></app-datos-obras-sc>

      </div>
    </mat-step>
    <mat-step [stepControl]="fourthForm">
      <div class="content-stepper">
        <ng-template matStepLabel>Adjuntos y Plantillas</ng-template>
        <mat-divider class="divisorInfoSolicitud"></mat-divider>
        <app-datos-adjuntos-sc [id_solicitud_editar]="id_solicitud_editar" (onFourthFormGroup)="onFourthFormGroupEvent($event)"></app-datos-adjuntos-sc>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>