<div class="content-section">
            <div class="contenidoForm">

                <form [formGroup]="informacionForm" (ngSubmit)="guardarSeccionInformacion(informacionForm.value)">
                    

                    <!-- Elemento -->
                    <div class="objeto col-xs-12 col-s-12 col-m-12 col-l-12 col-xl-12">
                        
                            &nbsp;
                            <mat-checkbox formControlName="checkGrupos" [(ngModel)]="checkGrupos">Por Grupo Cliente</mat-checkbox>
                             &nbsp;
                            <mat-checkbox formControlName="checkClientes" [(ngModel)]="checkClientes" >Por Clientes</mat-checkbox>
                             &nbsp;
                            <mat-checkbox formControlName="checkTodos" [(ngModel)]="checkTodos" >Todos</mat-checkbox>
                        
                    </div>
                    <br><br>
                    
                    <!-- Elemento -->
                    <div class="objeto col-xs-12 col-s-12 col-m-12 col-l-6 col-xl-6">
                    <div class="objeto col-xs-12 col-s-6 col-m-6 col-l-6 col-xl-6" *ngIf="checkGrupos">
                        <mat-form-field appearance="outline">
                            <mat-label>Grupo Cliente</mat-label>
                            <mat-select formControlName="grupocliente"  multiple  >
                                <mat-option *ngFor="let grupocliente of listadoGrupoCliente" [value]="grupocliente">{{ grupocliente.nombre }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div> 
                    <div class="objeto col-xs-12 col-s-6 col-m-6 col-l-6 col-xl-6" *ngIf="checkGrupos">
                        {{listadoGrupoCliente}}  Aqui irá la informacion
                    </div>
                    </div>
                    <!-- Elemento -->
                    <div class="objeto col-xs-12 col-s-12 col-m-12 col-l-6 col-xl-6">
                    <div class="objeto col-xs-12 col-s-6 col-m-6 col-l-6 col-xl-6" *ngIf="checkClientes">
                        <mat-form-field appearance="outline">
                            <mat-label>Clientes</mat-label>
                            <mat-select formControlName="cliente"  multiple  >
                                <mat-option *ngFor="let cliente of listadoClientes" [value]="cliente">{{ cliente.nombre }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div> 
                    <div class="objeto col-xs-12 col-s-6 col-m-6 col-l-6 col-xl-6" *ngIf="checkClientes">Aqui irá la informacion</div>
                    </div>

                    <!-- Elemento -->
                    <div class="objeto col-xs-12 col-s-12 col-m-12 col-l-6 col-xl-6">
                    <div class="objeto col-xs-12 col-s-6 col-m-6 col-l-6 col-xl-6">
                        <mat-form-field appearance="outline">
                            <mat-label>cartafianza</mat-label>
                            <mat-select formControlName="cartafianza" required>
                                <mat-option *ngFor="let dato of listadoyesno" [value]="dato.nombre">{{ dato.nombre }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div> 
                    <div class="objeto col-xs-12 col-s-6 col-m-6 col-l-6 col-xl-6">Aqui irá la informacion</div>
                    </div>

                    <!-- Elemento -->
                    <div class="objeto col-xs-12 col-s-12 col-m-12 col-l-6 col-xl-6">
                    <div class="objeto col-xs-12 col-s-6 col-m-6 col-l-6 col-xl-6">
                   

                        <mat-form-field appearance="outline">
                            <mat-label> nivelmora </mat-label>
                            <mat-select #nivemora formControlName="nivelmora" multiple required>
                                <mat-option *ngFor="let nivelmora of listadoNivelesMora" [value]="nivelmora">
                                    {{nivelmora.nombre}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>


                    </div> 
                    <div class="objeto col-xs-12 col-s-6 col-m-6 col-l-6 col-xl-6">Aqui irá la informacion</div>
                    </div>

                    <!-- Elemento -->
                    <div class="objeto col-xs-12 col-s-12 col-m-12 col-l-6 col-xl-6">
                    <div class="objeto col-xs-12 col-s-6 col-m-6 col-l-6 col-xl-6">
                        <mat-form-field appearance="outline">
                            <mat-label>central Riesgo</mat-label>
                            <mat-select formControlName="centralRiesgo"   multiple required>
                                <mat-option *ngFor="let centralRiesgo of listadoCentralRiesgo" [value]="centralRiesgo">{{ centralRiesgo.nombre }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div> 
                    <div class="objeto col-xs-12 col-s-6 col-m-6 col-l-6 col-xl-6">Aqui irá la informacion</div>
                    </div>

                    <!-- Elemento -->
                    <div class="objeto col-xs-12 col-s-12 col-m-12 col-l-6 col-xl-6">
                    <div class="objeto col-xs-12 col-s-6 col-m-6 col-l-6 col-xl-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Documentos Valorados</mat-label>
                            <mat-select formControlName="documentovalorado" required multiple >
                                <mat-option *ngFor="let grupocliente of listadoDocumentoValorado" [value]="grupocliente">{{ grupocliente.nombre }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div> 
                    <div class="objeto col-xs-12 col-s-6 col-m-6 col-l-6 col-xl-6">Aqui irá la informacion</div>
                    </div>

                    <!-- Elemento -->
                    <div class="objeto col-xs-12 col-s-12 col-m-12 col-l-6 col-xl-6">
                    <div class="objeto col-xs-12 col-s-6 col-m-6 col-l-6 col-xl-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Lineas de Producto</mat-label>
                            <mat-select formControlName="lineasproducto"  required multiple >
                                <mat-option *ngFor="let grupocliente of listadoLineaProducto" [value]="grupocliente">{{ grupocliente.nombre }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div> 
                    <div class="objeto col-xs-12 col-s-6 col-m-6 col-l-6 col-xl-6">Aqui irá la informacion</div>
                    </div>

                    <!-- Elemento -->
                    <div class="objeto col-xs-12 col-s-12 col-m-12 col-l-6 col-xl-6">
                    <div class="objeto col-xs-12 col-s-6 col-m-6 col-l-6 col-xl-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Moneda Bolsa</mat-label>
                            <mat-select formControlName="moneda" required multiple >
                                <mat-option *ngFor="let grupocliente of listadoMonedaBolsa" [value]="grupocliente">{{ grupocliente.nombre }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div> 
                    <div class="objeto col-xs-12 col-s-6 col-m-6 col-l-6 col-xl-6">Aqui irá la informacion</div>
                    </div>
                    <!-- Elemento -->
                    <div class="objeto col-xs-12 col-s-12 col-m-12 col-l-6 col-xl-6">
                    <div class="objeto col-xs-12 col-s-6 col-m-6 col-l-6 col-xl-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Bolsa</mat-label>
                            <mat-select formControlName="bolsa" required>
                                <mat-option *ngFor="let bolsa of listadoBolsa" [value]="bolsa">{{ bolsa.nombre }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div> 
                    <div class="objeto col-xs-12 col-s-6 col-m-6 col-l-6 col-xl-6">Aqui irá la informacion</div>
                    </div>
                    <!-- Elemento -->
                    <div class="objeto col-xs-12 col-s-12 col-m-12 col-l-6 col-xl-6">
                        <div class="objeto col-xs-12 col-s-6 col-m-6 col-l-6 col-xl-6">
                            <mat-form-field appearance="outline">
                                <mat-label>Camiones</mat-label>
                                <mat-select formControlName="camiones" required>
                                    <mat-option *ngFor="let camiones of listadoCamiones" [value]="grupocliente">{{ camiones.nombre }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div> 
                        <div class="objeto col-xs-12 col-s-6 col-m-6 col-l-6 col-xl-6">Aqui irá la informacion</div>
                    </div>

                    <!-- Elemento -->
                    <div class="objeto col-xs-12 col-s-12 col-m-12 col-l-6 col-xl-6">
                    <div class="objeto col-xs-12 col-s-6 col-m-6 col-l-6 col-xl-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Revisión mensual ?</mat-label>
                            <mat-select formControlName="revisionmensual" required>
                                <mat-option *ngFor="let dato of listadoyesno" [value]="dato.nombre">{{ dato.nombre }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>  
                    <div class="objeto col-xs-12 col-s-6 col-m-6 col-l-6 col-xl-6">Aqui irá la informacion</div>
                    </div>
                    <br>
                    <div class="botonera-form objeto col-xs-12 col-s-12 col-m-12 col-l-12 col-xl-12">
                    <button mat-raised-button class="boton-principal-light col-xl-2" type="submit" [disabled]="informacionForm.invalid" >Guardar</button>
                    </div>
                    
                </form>
                <br>
                <mat-divider class="objetoSimple col-xs-12 col-s-12 col-m-12 col-l-12 col-xl-12"></mat-divider>
            </div>

        </div>