<div class="InformaciónPlanConfig">
    <form [formGroup]="informacionForm" (ngSubmit)="guardarSeccionInformacion(informacionForm.value)">
        <!-- Elemento -->
        <div class="">
            <mat-checkbox formControlName="checkGrupos" [(ngModel)]="checkGrupos">Por Grupo Cliente</mat-checkbox>
            &nbsp;
            <mat-checkbox formControlName="checkClientes" [(ngModel)]="checkClientes">Por Clientes</mat-checkbox>
            &nbsp;
            <mat-checkbox formControlName="checkTodos" [(ngModel)]="checkTodos">Todos</mat-checkbox>
        </div>

        <div class="InformaciónConfig">
            <!-- Elemento -->
            <div class="SelectorYRespuesta">
                <div class="Selector" *ngIf="checkGrupos">
                    <div class="Title_POPUPConfig">Grupo Cliente:</div>
                    <mat-form-field appearance="fill">
                        <mat-label>Seleccionar</mat-label>
                        <mat-select formControlName="grupoCliente" multiple (selectionChange)="llenarGrupoCliente()"
                            [compareWith]="compareGrupoCliente">
                            <mat-option *ngFor="let grupocliente of listadoGrupoCliente" [value]="grupocliente">{{grupocliente.nombre}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="Respuesta" *ngIf="checkGrupos">
                    <table>
                        <caption title="mostrarGrupoCliente"></caption>
                        <th>&nbsp;</th>
                        <tr *ngFor="let item of mostrarGrupoCliente">
                            <td>
                                {{item.nombre}}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>


            <!-- Elemento -->
            <div class="SelectorYRespuesta">
                <div class="Selector" *ngIf="checkClientes">
                    <div class="Title_POPUPConfig">Clientes:</div>
                    <mat-form-field appearance="fill">
                        <mat-label>Seleccionar</mat-label>
                        <mat-select formControlName="cliente" multiple (selectionChange)="llenarClientes()"
                            [compareWith]="compareClientes">
                            <mat-option *ngFor="let cliente of listadoClientes" [value]="cliente">{{ cliente.nombre
                                }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="Respuesta" *ngIf="checkClientes">
                    <table>
                        <caption title="mostrarClientes"></caption>
                        <th>&nbsp;</th>
                        <tr *ngFor="let item of mostrarClientes">
                            <td>
                                {{item.nombre}}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <!-- Elemento -->
            <div class="SelectorYRespuesta">
                <div class="Selector">
                    <div class="Title_POPUPConfig">Carta Fianza:</div>
                    <mat-form-field appearance="fill">
                        <mat-label>Seleccionar</mat-label>
                        <mat-select formControlName="cartaFianza" required>
                            <mat-option *ngFor="let dato of listadoyesno" [value]="dato.id">{{ dato.nombre }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="Respuesta">&nbsp;</div>
            </div>

            <!-- Elemento -->
            <div class="SelectorYRespuesta">
                <div class="Selector">
                    <div class="Title_POPUPConfig">Nivel de Mora:</div>
                    <mat-form-field appearance="fill">
                        <mat-label>Nivel de Mora</mat-label>
                        <mat-select #nivemora formControlName="nivelMora" multiple required
                            (selectionChange)="llenarNivelMora()" [compareWith]="compareNivelMora">
                            <mat-option *ngFor="let nivelMora of listadoNivelMora" [value]="nivelMora">
                                {{nivelMora.nombre}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="Respuesta">
                    <table>
                        <caption title="mostrarNivelMora"></caption>
                        <th>&nbsp;</th>
                        <tr *ngFor="let item of mostrarNivelMora">
                            <td>
                                {{item.nombre}}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <!-- Elemento -->
            <div class="SelectorYRespuesta">
                <div class="Selector">
                    <div class="Title_POPUPConfig">Central de Riesgo:</div>
                    <mat-form-field appearance="fill">
                        <mat-label>Seleccionar</mat-label>
                        <mat-select formControlName="centroRiesgo" multiple required
                            (selectionChange)="llenarCentroRiesgo()" [compareWith]="compareCentroRiesgo">
                            <mat-option *ngFor="let centroRiesgo of listadoCentroRiesgo" [value]="centroRiesgo">{{
                                centroRiesgo.nombre }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="Respuesta">
                    <table>
                        <caption title="mostrarCentroRiesgo"></caption>
                        <th>&nbsp;</th>
                        <tr *ngFor="let item of mostrarCentroRiesgo">
                            <td>
                                {{item.nombre}}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <!-- Elemento -->
            <div class="SelectorYRespuesta" *ngIf="tipoFlujoAprobacion.id===1">
                <div class="Selector">
                    <div class="Title_POPUPConfig">Documentos Valorados:</div>
                    <mat-form-field appearance="fill">
                        <mat-label>Seleccionar</mat-label>
                        <mat-select formControlName="tipoDocumentoValorado" required multiple
                            (selectionChange)="llenarDocumentoValorado()"
                            [compareWith]="compareTipoDocumentoValorado">
                            <mat-option *ngFor="let tipo of listadoTipoDocumentoValorado" [value]="tipo">{{
                                tipo.nombre }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="Respuesta">
                    <table>
                        <caption title="mostrarTipoDocumentoValorado"></caption>
                        <th>&nbsp;</th>
                        <tr *ngFor="let item of mostrarTipoDocumentoValorado">
                            <td>
                                {{item.nombre}}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>


            <div class="SelectorYRespuesta" *ngIf="tipoFlujoAprobacion.id===2">
                <div class="Selector">
                    <mat-form-field appearance="fill">
                        <mat-label>Rango</mat-label>
                        <mat-select formControlName="rango" required multiple (selectionChange)="llenarRango()"
                            [compareWith]="compareRango">
                            <mat-option *ngFor="let tipo of listadoRango" [value]="tipo">{{ tipo.nombre }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="Respuesta">
                    <table>
                        <caption title="mostrarRango"></caption>
                        <th>&nbsp;</th>
                        <tr *ngFor="let item of mostrarRango">
                            <td>
                                {{item.nombre}}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <!-- Elemento -->
            <div class="SelectorYRespuesta">
                <div class="Selector">
                    <div class="Title_POPUPConfig">Líneas de Producto:</div>
                    <mat-form-field appearance="fill">
                        <mat-label>Seleccionar</mat-label>
                        <mat-select formControlName="lineaProducto" required multiple
                            (selectionChange)="llenarLineaProducto()" [compareWith]="compareLineaProducto">
                            <mat-option *ngFor="let linea of listadoLineaProducto" [value]="linea">{{ linea.nombre
                                }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="Respuesta">
                    <table>
                        <caption title="mostrarLineaProducto"></caption>
                        <th>&nbsp;</th>
                        <tr *ngFor="let item of mostrarLineaProducto">
                            <td>
                                {{item.nombre}}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <!-- Elemento -->
            <div class="SelectorYRespuesta">
                <div class="Selector">
                    <div class="Title_POPUPConfig">Moneda:</div>
                    <mat-form-field appearance="fill">
                        <mat-label>Seleccioanr</mat-label>
                        <mat-select formControlName="moneda" required>
                            <mat-option *ngFor="let tipo of listadoTipoMoneda" [value]="tipo.id">{{tipo.simbolo }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="Respuesta"></div>
            </div>
            <!-- Elemento -->
            <div class="SelectorYRespuesta">
                <div class="Selector">
                    <div class="Title_POPUPConfig">Bolsa:</div>
                    <mat-form-field appearance="fill">
                        <mat-label>Seleccionar</mat-label>
                        <input matInput placeholder="bolsa" formControlName="bolsa" required>
                        <mat-hint>
                            <mat-error [hidden]="!(formErrors.bolsa)">
                                {{formErrors.bolsa}}
                            </mat-error>
                        </mat-hint>

                    </mat-form-field>
                </div>
                <div class="Respuesta">&nbsp;</div>
            </div>

            <!-- Elemento -->
            <div class="SelectorYRespuesta">
                <div class="Selector">
                    <div class="Title_POPUPConfig">Camiones:</div>
                    <mat-form-field appearance="fill">
                        <mat-label>Seleccionar</mat-label>
                        <input matInput placeholder="Camiones" formControlName="camiones" required>
                        <mat-hint>
                            <mat-error [hidden]="!(formErrors.camiones)">
                                {{formErrors.camiones}}
                            </mat-error>
                        </mat-hint>

                    </mat-form-field>
                </div>
                <div class="Respuesta">&nbsp;</div>
            </div>

            <!-- Elemento -->
            <div class="SelectorYRespuesta">
                <div class="Selector">
                    <div class="Title_POPUPConfig">Revisión Mensual:</div>
                    <mat-form-field appearance="fill">
                        <mat-label>Seleccionar</mat-label>
                        <mat-select formControlName="revisionMensual" required>
                            <mat-option *ngFor="let dato of listadoyesno" [value]="dato.id">{{ dato.nombre }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div></div>
            <div></div>
            <div class="BotonInfoPlan">
                <button mat-raised-button class="boton-principal-light" type="submit"
                    [disabled]="informacionForm.invalid">Guardar</button>
            </div>
        </div>
    </form>
</div>