<div class="botonera-superior">
    <button mat-raised-button class="boton-secundario">Anular Solicitud</button>
    </div>
    <div class="body-dialog">
      <mat-horizontal-stepper linear #stepper>
        <mat-step [stepControl]="firstForm">
          <div class="content-stepper">
            <ng-template matStepLabel>Datos del Cliente</ng-template>
            <hr>
            <app-datos-cliente-sc [id_solicitud_editar]="id_solicitud_editar" (id_solicitud_hija)="send($event)" (onFirstFormGroup)="onFirstFormGroupEvent($event)"></app-datos-cliente-sc>
          </div>
        </mat-step>
        <mat-step [stepControl]="secondForm">
          <div class="content-stepper">
            <ng-template matStepLabel>Planes de Crédito</ng-template>
            <hr>
            <app-datos-planes-sc (onSecondFormGroup)="onSecondFormGroupEvent($event)" [id_solicitud_editar]="id_solicitud_editar"></app-datos-planes-sc>
          </div>
        </mat-step>
        <mat-step [stepControl]="thirdForm">
          <div class="content-stepper">
            <ng-template matStepLabel>Datos de Obra</ng-template>
            <hr>
            <app-datos-obras-sc (onThirdFormGroup)="onThirdFormGroupEvent($event)" [id_solicitud_editar]="id_solicitud_editar"></app-datos-obras-sc>
          </div>
        </mat-step>
        <mat-step [stepControl]="fourthForm">
          <div class="content-stepper">
            <ng-template matStepLabel>Adjuntos y Plantillas</ng-template>
            <hr>
            <app-datos-adjuntos-sc (onFourthFormGroup)="onFourthFormGroupEvent($event)" [id_solicitud_editar]="id_solicitud_editar"></app-datos-adjuntos-sc>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </div>