<div class="content-dialog">
    <div class="body-dialog">
        <div class="contenidoForm" *ngIf="!nodata">
            <div class="titledialog color-secundario">
                Grupos Empresariales Coincidentes
            </div>
            <div><mat-divider></mat-divider></div>
            <div class="objeto GC_TOPPADDING">
                <mat-accordion class="GC">
                    <!--  Empresa - Datos importantes-->
                    <mat-expansion-panel *ngFor="let obj of listaGrupos">
                        <mat-expansion-panel-header class="Header_GEC">
                            <mat-panel-title class="Header_GEC_Title">
                                {{obj.nombre}}
                            </mat-panel-title>
                            <mat-panel-description class="Header_GEC_Des">
                                <mat-icon class="color-warning" *ngIf="!obj.pertenece_sociedad">warning</mat-icon>&nbsp;&nbsp;
                                <button type="button" mat-flat-button class="boton-principal-light"
                                    (click)="guardarSolicitud(obj)">
                                    Elegir
                                </button>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div class="expansion-body">
                            <br>
                               
                                <table mat-table [dataSource]="obj.empresa" class="mat-elevation-z8">
                                    <caption title="tabla empresas del grupo"></caption>
                                    <!-- Table estrategias - por sociedad -->
                                    <!-- Column -->
                                    <ng-container matColumnDef="sociedad">
                                        <th mat-header-cell *matHeaderCellDef> Sociedad </th>
                                        <td mat-cell *matCellDef="let element">{{element.sociedad.nombre}} </td>
                                    </ng-container>
                                    <!-- Column -->
                                    <ng-container matColumnDef="razon_social">
                                        <th mat-header-cell *matHeaderCellDef> Empresa </th>
                                        <td mat-cell *matCellDef="let element">{{element.razon_social}} </td>
                                    </ng-container>
                                    <!-- Column -->
                                    <ng-container matColumnDef="pertenece_sociedad">
                                        <th mat-header-cell *matHeaderCellDef> Sociedad Correcta? </th>
                                        <td mat-cell *matCellDef="let element">
                                            <mat-icon  class="color-principal" *ngIf="element.pertenece_sociedad">check_circle</mat-icon> 
                                            <mat-icon class="color-error" *ngIf="!element.pertenece_sociedad">warning</mat-icon> 
                                       
                                    
                                        </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                </table>
                            
                        </div>
                    </mat-expansion-panel>

                </mat-accordion>

                <div class="GEC_CCoincidentes">
                    <button mat-flat-button class="boton-secundario" (click)="cerrarDialog(0)">
                        Cerrar
                    </button>
                </div>
            </div>



        </div>
        <!-- Cuando no se encuentre consorcios similares -->
        
        <div class="contenidoForm" *ngIf="nodata">
            <div class="objeto GEC_No">

                <mat-icon class="warning_pop">warning</mat-icon>

                <div class="HeaderPopup"><b>¡No se ha encontrado el<br>Grupo Empresarial!</b></div>
                <br>
                <div>
                    <p>Verifique si los datos ingresados son correctos
                        o <br> ¿Deseas registrar uno nuevo?
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="GEC_Cerrar">
        <button mat-flat-button *ngIf="nodata" class="boton-secundario popup_cerrar" (click)="cerrarDialog(0)">
            Cerrar
        </button>

        <a *ngIf="nodata" mat-flat-button class="boton-principal-light popup_registrar" target="_blank"
            href="app/solicitudcredito/crearSolicitudGrupo">
            Registrar
        </a>
    </div>
</div>