<div class="content-dialog">
    <div class="titledialog color-secundario">
        Grupos Empresariales
    </div>
    <br> <br>
    <div class="body-dialog">
        <div class="contenidoForm" *ngIf="!nodata">

            <div class="objeto col-xs-12 col-s-12 col-m-12 col-l-12 col-xl-12">
                <mat-accordion>
                    <!--  Empresa - Datos importantes-->
                    <mat-expansion-panel *ngFor="let obj of listaGrupos">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                {{obj.nombre}}

                            </mat-panel-title>
                            <mat-panel-description>

                                <button type="button" mat-flat-button class="boton-principal-light" (click)="guardarSolicitud(obj)">
                  elegir
                </button>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div class="expansion-body">
                            <div class="objeto col-xs-12 col-s-12 col-m-12 col-l-12 col-xl-12" >
                            <br>
                                <table mat-table [dataSource]="obj.empresa" class="mat-elevation-z8 " >
                                    <caption title="tabla empresas del grupo"></caption>
                                    <!-- Table estrategias - por sociedad -->
                                    <!-- Column -->
                                    <ng-container matColumnDef="sociedad">
                                        <th mat-header-cell *matHeaderCellDef> Sociedad </th>
                                        <td mat-cell *matCellDef="let element">{{element.sociedad.nombre}} </td>
                                    </ng-container>
                                    <!-- Column -->
                                    <ng-container matColumnDef="razon_social">
                                        <th mat-header-cell *matHeaderCellDef> Empresa </th>
                                        <td mat-cell *matCellDef="let element">  {{element.razon_social}} </td>
                                    </ng-container>
                            
                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                </table>



                            </div>
                        </div>
                    </mat-expansion-panel>

                </mat-accordion>
            </div>



        </div>
        <!-- Cuando no se encuentre consorcios similares -->
        <div class="contenidoForm" *ngIf="nodata">

            <div class="objeto col-xs-12 col-s-12 col-m-12 col-l-12 col-xl-12">
                <b>No se ha encontrado un Grupo Empresarial coincidente! </b>
                <br>
                <p>Verifique los datos ingresados o <a href="app/solicitudcredito/crearSolicitudGrupo">¿Desea registrar uno nuevo?</a>

                </p>


            </div>
        </div>

    </div>
    <div class="botonera objeto col-xs-12 col-s-12 col-m-12 col-l-12 col-xl-12">
        <button type="button" mat-flat-button class="boton-secundario" (click)="cerrarDialog(0)">
      Cerrar
    </button>
    </div>

</div>
