<mat-card class="header_adjuntos">
    <span class="adjuntos_text">En esta sección podrás agregar otros tipos de documentos: Vigencia de Poderes,
        Constitución del Consorcio, Contratos.</span>
</mat-card>

<mat-card class="zona_de_adjuntos">
    <form [formGroup]="formDocumentAdditional" (ngSubmit)="onSaveForm()">
        <label>Adjuntar documento: </label>
        <mat-form-field appearance="outline" (click)="f_input.click()">
            <button mat-icon-button matPrefix type="button">
                <mat-icon>attach_file</mat-icon>
            </button>
            <input type="text" placeholder="Seleccione el archivo a adjuntar" readonly matInput
                formControlName="file" />
            <input type="file" hidden #f_input (change)="onInputFileChange(f_input.files)" />
        </mat-form-field>

        <label>Descripción:</label>
        <mat-form-field appearance="outline">
            <mat-label>Escriba una descripción</mat-label>
            <textarea formControlName="description" matInput placeholder="Escribir..."></textarea>
        </mat-form-field>

        <button mat-raised-button class="boton-principal-light" [disabled]="!formDocumentAdditional.valid" type="submit"
            matStepperNext>Guardar</button>
    </form>
</mat-card>