<div class="DialogConfig">
    <div class="titledialog color-error">
        <div> <mat-icon>cancel</mat-icon></div>
    </div>
    <div class="titledialog color-error">
        <span>Error</span>
    </div>
    <div class="body-dialog">
        <div class="contenidoForm">

            <div class="">
                <div class="mensaje">{{mensaje}}</div>
            </div>
            <mat-divider class="divisorConfig"></mat-divider>
          
            <div class="botonera-form">
                
                <button mat-raised-button class="boton-principal-light" type="button"
                    (click)="onNoClick('CONFIRM_DLG_YES')">Aceptar</button>
            </div>
        </div>
    </div>

</div>