<div class="content-dialog">
    <div class="titledialog color-secundario">
        Consorcios Coincidentes
    </div>
    <br> <br>
    <div class="body-dialog">
        <div class="contenidoForm" *ngIf="!nodata">

            <div class="objeto col-xs-12 col-s-12 col-m-12 col-l-12 col-xl-12">
                <mat-accordion>
                    <!--  Empresa - Datos importantes-->
                    <mat-expansion-panel *ngFor="let obj of listaConsorcios">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                {{obj.razon_social}}

                            </mat-panel-title>
                            <mat-panel-description>

                                <button type="button" mat-flat-button class="boton-principal-light" (click)="verConsorcio(obj.id)">
                  elegir
                </button>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div class="expansion-body">
                            <div class="objeto col-xs-12 col-s-12 col-m-12 col-l-12 col-xl-12" *ngFor="let empresa of obj.empresas">
                                {{empresa.razon_social}}
                            </div>
                        </div>
                    </mat-expansion-panel>

                </mat-accordion>
            </div>
        </div>
        <!-- Cuando no se encuentre consorcios similares -->
        <div class="contenidoForm" *ngIf="nodata">

            <div class="objeto col-xs-12 col-s-12 col-m-12 col-l-12 col-xl-12">
                <strong>No se ha encontrado un Consorcio coincidente! </strong>
                <br>
                <p>Verifique si los datos ingresados son correctos 
                    o  ¿Desea registrar uno nuevo?
                </p>
            </div>
        </div>

    </div>
    <div class="botonera objeto col-xs-12 col-s-12 col-m-12 col-l-12 col-xl-12">
        <button type="button" mat-flat-button class="boton-secundario" (click)="cerrarDialog(0)">
      Cerrar
    </button>&nbsp;
    <a mat-flat-button class="boton-secundario" href="app/solicitudcredito/crearSolicitudConsorcio">Registrar</a>
    </div>

</div>
