<div class="titlesection">
    <span> Administración de Asistente de Facturación</span>
</div>

<mat-divider class="divisorConfig"></mat-divider>

<div class="botonera">
    <button mat-flat-button class="boton-principal-light" (click)="openAgregarAsistenteFacturacion()">Agregar</button>
</div>
<br>
<div class="content-table">
    <span class="label-info">
        <mat-icon>info</mat-icon>Para editar el registro dar doble clic en Asistente de Facturación.
    </span>
    <table mat-table matTableResponsive [dataSource]="listadoAsistentesFacturacion" class="mat-elevation-z8 tablaAprobador ">
        <!-- Table estrategias - por sociedad -->
        <!-- Column -->
        <ng-container matColumnDef="usuario">
            <th class="PointerHand" mat-header-cell *matHeaderCellDef> Asistente Facturacion </th>
            <td class="PointerHand" mat-cell *matCellDef="let element" (dblclick)="openEditarAsistenteFacturacion(element)"> <u>
                    {{element.usuario.nombre}} </u></td>
        </ng-container>
        <!-- Column -->
        <ng-container matColumnDef="zonal">
            <th mat-header-cell *matHeaderCellDef> Zonal</th>
            <td mat-cell *matCellDef="let element"> {{element.zonal.nombre}} </td>
        </ng-container>

        <!-- Column -->
        <ng-container matColumnDef="activo">
            <th mat-header-cell *matHeaderCellDef> Activo </th>
            <td mat-cell *matCellDef="let element">
                <mat-slide-toggle [(ngModel)]="element.activo" (ngModelChange)="onchangeEstado(element)">
                </mat-slide-toggle>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsSociedad"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsSociedad;"></tr>
    </table>

</div>