<div class="titlesection">
    Bandeja de Pendientes
    <mat-divider class="divisor"></mat-divider>
</div>
<div>
    <form [formGroup]="formulary" (ngSubmit)="buscarSolicitudes(formulary.value)">
        <div class="buscarBandejas">

            <mat-form-field appearance="fill" class="formBandejas">
                <mat-label>Seleccionar Tipo de Cliente</mat-label>
                <mat-select formControlName="tipo_cliente" (selectionChange)="validarTipoDocumento()">
                    <mat-option *ngFor="let tipo_cliente of listadotipoCliente" [value]="tipo_cliente">{{
                        tipo_cliente.nombre }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" class="formBandejas" *ngIf="notGrupo">
                <mat-label>RUC</mat-label>
                <input matInput formControlName="numero_documento">
            </mat-form-field>

            <mat-form-field appearance="fill" class="formBandejas">
                <mat-label>Estado</mat-label>
                <mat-select formControlName="estado" >
                    <mat-option *ngFor="let estado of listadoEstadosSolicitud" [value]="estado">{{ estado.nombre }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" class="formBandejas">
                <mat-label>N° Solicitud</mat-label>
                <input matInput formControlName="correlativo">
            </mat-form-field>

            <mat-form-field appearance="fill" class="formBandejas">
                <mat-label>Fecha</mat-label>
                <input matInput [matDatepicker]="picker1" formControlName="fecha">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1 color="primary"></mat-datepicker>

            </mat-form-field>

            <div class="formBandejas">
                <button mat-mini-fab color="white" aria-label="Buscar" class="boton-buscar" type="submit">
                    <mat-icon>search</mat-icon>
                </button>
            </div>
        </div>
    </form>
</div>

<div class="label-info">
    <div class="labelEstadoCP">Estados Condición de Pago:&nbsp;&nbsp;</div>
    <div class="labelEstadoCP">
        <mat-icon class="color-aprobacion">fiber_manual_record</mat-icon> &nbsp;En Aprobación&nbsp;
    </div>
    <div class="labelEstadoCP">
        <mat-icon class="color-aprobado">fiber_manual_record</mat-icon> &nbsp;Aprobado&nbsp;
    </div>
    <div class="labelEstadoCP">
        <mat-icon class="color-activado">fiber_manual_record</mat-icon> &nbsp;Activado&nbsp;
    </div>
    <div class="labelEstadoCP">
        <mat-icon class="color-retirado">fiber_manual_record</mat-icon> &nbsp;Retirado&nbsp;
    </div>
    <div class="labelEstadoCP">
        <mat-icon class="color-rechazado">fiber_manual_record</mat-icon> &nbsp;Rechazado&nbsp;
    </div>
</div>




<div class="content-table">
    <table mat-table matTableResponsive [dataSource]="listadoSolicitudes" class="mat-elevation-z8 Bandeja_Pendientes">
        <caption title="bandeja de solicitud de creditos"></caption>

        <!-- Column -->
        <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef>Estado Línea de Crédito</th>
            <td mat-cell *matCellDef="let element" (dblclick)="editarSolicitud(element)"><u>
                    {{element.estado.nombre}} </u></td>
        </ng-container>
        <!-- Column -->
        <ng-container matColumnDef="correlativo">
            <th mat-header-cell *matHeaderCellDef> Correlativo</th>
            <td mat-cell *matCellDef="let element">
                {{(element.correlativo?element.correlativo:'-')}} </td>
        </ng-container>
        <!-- Column -->
        <ng-container matColumnDef="numero_documento">
            <th mat-header-cell *matHeaderCellDef> RUC</th>
            <td mat-cell *matCellDef="let element">
                {{(element.cliente?.numero_documento?element.cliente?.numero_documento:(element.planes[0]?.empresa?.numero_documento?element.planes[0]?.empresa?.numero_documento:'-'))}} </td>
        </ng-container>
        <!-- Column -->
        <ng-container matColumnDef="cliente">
            <th mat-header-cell *matHeaderCellDef> Grupo Empresarial</th>
            <td mat-cell *matCellDef="let element">
                {{(element.cliente?.nombre?element.cliente?.nombre:"-")}} </td>
        </ng-container>
        <!-- Column -->
        <ng-container matColumnDef="razon_social">
            <th mat-header-cell *matHeaderCellDef> Razón Social</th>
            <td mat-cell *matCellDef="let element">
                {{(element.cliente?.razon_social?element.cliente?.razon_social:(element.planes[0]?.empresa?.razon_social?element.planes[0]?.empresa?.razon_social:'-')) }} </td>
        </ng-container>
        <!-- Column -->
        <ng-container matColumnDef="grupo_cliente">
            <th mat-header-cell *matHeaderCellDef> Grupo Cliente</th>
            <td mat-cell *matCellDef="let element">
                {{(element.cliente?.grupo_cliente?.codigo_sap?element.cliente?.grupo_cliente?.codigo_sap:'')+'-'+ (element.cliente?.grupo_cliente?.nombre?element.cliente?.grupo_cliente?.nombre:'')}} </td>
        </ng-container>
        <!-- Column -->
        <ng-container matColumnDef="canal_comercial">
            <th mat-header-cell *matHeaderCellDef> Canal Comercial</th>
            <td mat-cell *matCellDef="let element">
                {{(element.cliente?.id_tipo_canal?element.cliente?.id_tipo_canal:'-') }} </td>
        </ng-container>
        <!-- Column -->
        <ng-container matColumnDef="importe">
            <th mat-header-cell *matHeaderCellDef> Linea de Credito Solicitada</th>
            <td mat-cell *matCellDef="let element">
                {{(element.planes[0]?.importe?element.planes[0]?.importe:'-') }} </td>
        </ng-container>   
        <!-- Column -->
        <ng-container matColumnDef="documento_valorado">
            <th mat-header-cell *matHeaderCellDef> Documento Valorado</th>
            <td mat-cell *matCellDef="let element">
                {{(element.planes[0]?.documento_valorado_propuesto?element.planes[0]?.documento_valorado_propuesto:'-') }} </td>
        </ng-container>           
        <!-- Column -->
        <ng-container matColumnDef="tipo_plan">
            <th mat-header-cell *matHeaderCellDef> Tipo de Plan</th>
            <td mat-cell *matCellDef="let element">
                {{(element.planes[0]?.plan?.tipo_plan_credito?.nombre?element.planes[0]?.plan?.tipo_plan_credito?.nombre:'-') }} </td>
        </ng-container>                     
        <!-- Column -->
        <ng-container matColumnDef="fecha_creacion">
            <th mat-header-cell *matHeaderCellDef> Fecha solicitud</th>
            <td mat-cell *matCellDef="let element">
                {{element.fecha_creacion | date: 'dd/MM/yyyy' }} </td>
        </ng-container>
        <!-- Column -->
        <ng-container matColumnDef="usuario">
            <th mat-header-cell *matHeaderCellDef> Usuario</th>
            <td mat-cell *matCellDef="let element">
                {{element.usuario.nombre}} </td>
        </ng-container>



        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</div>