

<div class="titlesection">
    <span>   Configuración de Suplencia</span>
</div>

<mat-divider class="divisorConfig"></mat-divider>

<div class="botonera">
    <button mat-flat-button class="boton-principal-light" (click)="openAgregarSuplencia()">Agregar</button>
</div>
<br>
<div class="content-table">
    <span class="label-info"><mat-icon>info</mat-icon> Para editar el registro dar doble clic en el nombre del usuario.</span>
    <table mat-table matTableResponsive [dataSource]="listadoSuplencias" class="mat-elevation-z8 tablaSuplencia " >

     
        <!-- Column -->
        <ng-container matColumnDef="usuario">
            <th class="PointerHand" mat-header-cell *matHeaderCellDef> Usuario </th>
            <td  class="PointerHand" mat-cell *matCellDef="let element" (dblclick)="openEditarSuplencia(element)" ><u> {{element.usuario.nombre}} </u> </td>
        </ng-container>

        <!-- Column -->
        <ng-container matColumnDef="usuario_suplente">
            <th mat-header-cell *matHeaderCellDef> Suplente </th>
            <td mat-cell *matCellDef="let element"> {{element.usuario_suplente.nombre}} </td>
        </ng-container>

        <!-- Column -->
        <ng-container matColumnDef="fecha_inicio">
            <th mat-header-cell *matHeaderCellDef> Fecha Inicio </th>
            <td mat-cell *matCellDef="let element"> {{element.fecha_inicio | date: 'dd/MM/yyyy'}} </td>
        </ng-container>
        <!-- Column -->
        <ng-container matColumnDef="fecha_fin">
            <th mat-header-cell *matHeaderCellDef> Fecha Fin  </th>
            <td mat-cell *matCellDef="let element"> {{element.fecha_fin | date: 'dd/MM/yyyy'}} </td>
        </ng-container>


        <ng-container matColumnDef="activo">
            <th mat-header-cell *matHeaderCellDef> Activo </th>
            <td mat-cell *matCellDef="let element">
                <mat-slide-toggle class="color-principal-light" [(ngModel)]="element.activo" (ngModelChange)="toggleSuplenciaEstado(element)"></mat-slide-toggle>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>