<form [formGroup]="formularyForm" (ngSubmit)="guardarDatosConsorcio(formularyForm.value)">
    <div class="objeto objetoEmpresa" >
        <div class="objeto formElementoPlano" >
            <div class="label">Sociedad:</div>
            <div class="dato">{{(clienteData && clienteData.sociedad && clienteData.sociedad.nombre?clienteData.sociedad.nombre:'')}}</div>
        </div>
        <div class="objeto formElementoPlano" >
            <div class="label">RUC:</div>
            <div class="dato">{{(clienteData?clienteData.numero_documento:'')}}</div>
        </div>
        <div class="objeto formElementoPlano" >
            <div class="label">Razón Social:</div>
            <div class="dato">{{(clienteData?clienteData.nombre:'')}}</div>
        </div>
    </div>
</form>
