<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" role="navigation" [opened]="sidenavLayout" (mouseenter)="isExpanded = true"
    (mouseleave)="isExpanded = false" (mouseleave)="lineadecredito=false" (mouseleave)="IconSideNav.closeAll()">
    <mat-nav-list>
      <mat-accordion class="Sidenav_Accordion" multi>
        <mat-expansion-panel class="Sidenav_Panel" #panel [disabled]="!isExpanded" *ngFor="let menu of dataSource.data"
          (click)="lineadecredito=!lineadecredito">
          <mat-expansion-panel-header class="Sidenav_Header">
            <img [src]="menu.svg">
              <span *ngIf="isExpanded" class="title">{{menu.name}}</span>
          </mat-expansion-panel-header>

          <mat-list-item (click)="url(submenu.url)" *ngFor="let submenu of menu.children">
            <span *ngIf="isExpanded" class="subtitle">{{submenu.name}} </span>
          </mat-list-item>

        </mat-expansion-panel>
        
      </mat-accordion>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-breadcrumbs></app-breadcrumbs>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>