<div class="FlujoDeAprob_PopUP">
    <div class="Header_POPUPConfig">
        <div class="titledialog_Config">
            Asignar Aprobadores
        </div>
    </div>
    <div class="Asignar">
        <form [formGroup]="aprobadorForm" (ngSubmit)="asignarAprobador(aprobadorForm.value)">
            <div class="Title_POPUPConfig">Usuario:</div>
            <div class="UsuarioAsignar">
                <mat-form-field class="UsuarioAsignarInput" appearance="fill">
                    <mat-label>Seleccionar</mat-label>
                    <input type="text" matInput placeholder="Usuario" formControlName="usuario" [matAutocomplete]="auto"
                        required>
                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                        <mat-option *ngFor="let option of filteredUsuarioAprobador | async" [value]="option">
                            {{option.nombre}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>

                <div class="UsuarioAsignarBoton">
                    <button mat-raised-button class="boton-principal-light" type="submit"
                        [disabled]="aprobadorForm.invalid">Agregar</button>
                </div>
            </div>
        </form>

        <div class="">
            <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngFor="let item of listadoAprobadoresPlan" cdkDrag>
                    <div class="example-custom-placeholder" *cdkDragPlaceholder>
                    </div>
                    <div>{{item.orden}}-{{item.usuario.nombre}}</div>
                </div>
            </div>
        </div>

        <mat-divider class="divisor"></mat-divider>
        <div class="boton_Flujo">
            <button mat-flat-button class="boton-secundario" (click)="onNoClick()">Cerrar</button>
        </div>
    </div>
</div>