<div class="content-section">
    <div class="title-add-element color-title">
        Asignar Aprobadores
        
    </div>
    <br>
    <div class="contenidoForm">
        <form [formGroup]="aprobadorForm" (ngSubmit)="asignarAprobador(aprobadorForm.value)">
            <div class="objeto col-xs-12 col-s-12 col-m-12 col-l-12 col-xl-12">
                <div class="objeto col-xs-6 col-s-6 col-m-6 col-l-6 col-xl-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Usuario</mat-label>
                        <input type="text" matInput placeholder="Usuario" formControlName="usuario" [matAutocomplete]="auto" required>
                        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                            <mat-option *ngFor="let option of filteredUsuarioAprobador | async" [value]="option">
                                {{option.nombre}}
                            </mat-option>
                        </mat-autocomplete>                
                        <mat-hint>
                            <mat-error [hidden]="!(formErrors.usuario)">
                                {{formErrors.usuario}}
                            </mat-error>
                        </mat-hint>
        
                    </mat-form-field>
                </div>


                <div class="objeto col-xs-6 col-s-6 col-m-6 col-l-6 col-xl-6">
                    <button mat-raised-button class="boton-principal-light" type="submit"
                        [disabled]="aprobadorForm.invalid">Agregar</button>
                </div>
            </div>
        </form>
    </div>
        <br>

        <div class="content-table col-xs-12 col-s-8 col-m-8 col-l-6 col-xl-6">
            <br>
            <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngFor="let item of listadoAprobadoresPlan" cdkDrag>
                    <div class="example-custom-placeholder" *cdkDragPlaceholder>
                    </div>
                    <div>{{item.orden}}-{{item.usuario.nombre}}</div>
                </div>
            </div>
            <br>
        </div>
        <br>
        <mat-divider></mat-divider>
        <div class="botonera objeto col-xs-12 col-s-12 col-m-12 col-l-12 col-xl-12">
            <button mat-flat-button class="boton-secundario" (click)="onNoClick()">Cerrar</button>
        </div>
</div>