<div class="contenidoForm">
    <form [formGroup]="formulary" (ngSubmit)="agregar(formulary.value)" *ngIf="id_estado_solicitud===ESTADO_SOLICITUD_EN_SOLICITANTE">
        <div class="objeto objetoEmpresa">
            <div class="objeto formElementoPlano">
                <div class="label">RUC:</div>
                <div class="dato">
                    <mat-form-field appearance="fill">
                        <mat-label>RUC</mat-label>
                        <input matInput formControlName="numero_documento">
                    </mat-form-field>
                </div>
            </div>
            <div class="objeto formElementoPlano ">
                <div class="label">Razón Social:</div>
                <div class="dato">
                    <mat-form-field appearance="fill">
                        <mat-label>Razón Social</mat-label>
                        <input matInput formControlName="razon_social">
                    </mat-form-field>
                </div>
            </div>

            <div class="objetoBoton">
                <button mat-flat-button aria-label="agregarCliente" class="boton-principal-light " type="submit">
                    Agregar
                </button>
            </div>
        </div>
    </form>

</div>

<div class="content-table">
    <table mat-table matTableResponsive [dataSource]="listadoPrincipalesClientes" class="mat-elevation-z8 ">
        <caption title="tabla Principales Clientes"></caption>

        <!-- Column -->
        <ng-container matColumnDef="numero_documento">
            <th mat-header-cell *matHeaderCellDef> RUC </th>
            <td mat-cell *matCellDef="let element"> <u> {{element.numero_documento}} </u></td>
        </ng-container>
        <!-- Column -->
        <ng-container matColumnDef="razon_social">
            <th mat-header-cell *matHeaderCellDef> Razón Social </th>
            <td mat-cell *matCellDef="let element"> <u> {{element.razon_social}} </u></td>
        </ng-container>

        <!-- Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let element">
                <button type="button" mat-icon-button class="color_secundario" (click)="eliminar(element.id);" *ngIf="id_estado_solicitud===ESTADO_SOLICITUD_EN_SOLICITANTE">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</div>