<div class="contenidoForm" >
    <form [formGroup]="formulary" (ngSubmit)="agregarCliente(formulary.value)">
        <div class="objeto col-xs-12 col-s-12 col-m-12 col-l-12 col-xl-12">
            
            <div class="objeto col-xs-12 col-s-6 col-m-4 col-l-3 col-xl-3">
                <mat-form-field appearance="outline">
                    <mat-label>RUC</mat-label>
                    <input matInput formControlName="ruc" >
                </mat-form-field>
            </div>
            <div class="objeto col-xs-12 col-s-6 col-m-4 col-l-3 col-xl-3">
                <mat-form-field appearance="outline">
                    <mat-label>Razón Social</mat-label>
                    <input matInput formControlName="razon_social" >
                </mat-form-field>
            </div>
           
            <div class="objeto col-xs-12 col-s-6 col-m-4 col-l-3 col-xl-3">
                <button mat-flat-button aria-label="agregarCliente" class="boton-principal-light objetoButton" type="submit">
                    Agregar
                </button>
            </div>
        </div>
    </form>
    
</div>

<div class="content-table col-xs-12 col-s-12 col-m-12 col-l-12 col-xl-12">
        <table mat-table [dataSource]="listadoPrincipalesClientes" class="mat-elevation-z8 " >
        <caption title="tabla Principales Clientes"></caption>
 
       
        <!-- Column -->
        <ng-container matColumnDef="ruc">
            <th mat-header-cell *matHeaderCellDef> Ruc </th>
            <td mat-cell *matCellDef="let element"> <u> {{element.ruc}} </u></td>
        </ng-container>
        <!-- Column -->
        <ng-container matColumnDef="razon_social">
            <th mat-header-cell *matHeaderCellDef> Razón Social </th>
            <td mat-cell *matCellDef="let element"> <u> {{element.razon_social}} </u></td>
        </ng-container>
     
       

       <!-- Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let element">
                <button mat-mini-fab  aria-label="Eliminar" class="boton-secundario" (click)="eliminarCliente(element.id);">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container> 

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</div> 