<div class="botonera-ModuloConfig">
    <div class="titlesectionSolicitud">
        <span>Consorcios</span>
    </div>
    <div class="botonera">
        <button mat-flat-button class="boton-principal-light" (click)="openAgregarConsorcio()">Agregar</button>
    </div>
</div>
<mat-divider class="divisorConfig"></mat-divider>


    <form [formGroup]="formulary" (ngSubmit)="listarConsorcioxFiltros()">
        <div class="ConsorcioFiltros">
            <mat-form-field class="" appearance="fill">
                <mat-label>RUC</mat-label>
                <input matInput formControlName="rucConsorcio" placeholder="RUC del Consorcio">
            </mat-form-field>

            <div class="">
                <button mat-mini-fab aria-label="Buscar" color="white" class="boton-buscar" type="submit">
                    <mat-icon>search</mat-icon>
                </button>
            </div>
        </div>
    </form>


<div class="content-table">

    <table mat-table matTableResponsive [dataSource]="listadoConsorcios | paginator:page" class="mat-elevation-z8">
        <caption title="lista de consorcios"></caption>

        <!-- Column -->
        <ng-container matColumnDef="razonsocial">
            <th mat-header-cell *matHeaderCellDef>Razón Social </th>
            <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
        </ng-container>

        <!-- Column -->
        <ng-container matColumnDef="sociedad">
            <th mat-header-cell *matHeaderCellDef>Sociedad</th>
            <td mat-cell *matCellDef="let element"> {{element.sociedad.nombre }} </td>
        </ng-container>

        <!-- Column -->
        <ng-container matColumnDef="pendiente">
            <th mat-header-cell *matHeaderCellDef>Estado </th>
            <td mat-cell *matCellDef="let element"> {{ element.estado_cliente_agrupacion.nombre }}</td>
        </ng-container>
        <!-- Column -->
        <ng-container matColumnDef="solicitante">
            <th mat-header-cell *matHeaderCellDef>Solicitante </th>
            <td mat-cell *matCellDef="let element"> {{element.usuario_creacion.nombre}} </td>
        </ng-container>

        <!-- Column -->
        <ng-container matColumnDef="numero_documento">
            <th mat-header-cell *matHeaderCellDef> RUC </th>
            <td mat-cell *matCellDef="let element"> {{element.numero_documento}} </td>
        </ng-container>

         <!-- Column -->
         <ng-container matColumnDef="cliente_codigo_sap">
            <th mat-header-cell *matHeaderCellDef> Código Cliente </th>
            <td mat-cell *matCellDef="let element"> {{element.cliente_codigo_sap?element.cliente_codigo_sap:element.cliente_codigo_isicom}} </td>
        </ng-container>

         <!-- Column -->
         <ng-container matColumnDef="grupo_cliente">
            <th mat-header-cell *matHeaderCellDef> Grupo Cliente </th>
            <td mat-cell *matCellDef="let element"> {{element.grupo_cliente.nombre}} </td>
        </ng-container>
        <!-- Column -->
        <ng-container matColumnDef="tipo_canal">
            <th mat-header-cell *matHeaderCellDef> Tipo Canal </th>
            <td mat-cell *matCellDef="let element"> {{element.tipo_canal.nombre}} </td>
        </ng-container>

        <!-- Column -->
      <!--   <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef> Activo </th>
            <td mat-cell *matCellDef="let element">
                <mat-slide-toggle [(ngModel)]="element.activo" (ngModelChange)="toggleConsorcioActivo(element)"
                    [disabled]="!isAdmin"></mat-slide-toggle>
            </td>
        </ng-container>
 -->
        <!-- Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let element">
                <button mat-flat-button class="boton-secundario"
                    (click)="openAsignarIntegrantes(element)">Integrantes</button>
                    &nbsp;
                <button mat-icon-button (click)="eliminar(element)" *ngIf="isAdmin" >
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div class="derecha">
        <span color="accent" class="labelPager"> {{page}} a {{(page + itemPerPage > totalRegister)? totalRegister :
            page + itemPerPage }} de {{totalRegister}} registros</span>
            &nbsp;&nbsp;
        <button mat-raised-button class="boton-secundario" (click)="prevPage()">Anterior</button>
        &nbsp;
        <button mat-raised-button class="boton-secundario" (click)="nextPage()"
            [disabled]="(page+itemPerPage>totalRegister)">Siguiente</button>
    </div>

</div>