<div class="DialogConfig">
    <div class="titledialog color-principal">
        <mat-icon>check</mat-icon>
    </div>
    <div class="titledialog color-secundario">
        <span>Confirmación</span>
    </div>
    <div class="body-dialog">
        <div class="contenidoForm">

            <div class="">
                <div class="mensaje">{{mensaje}}</div>
            </div>
            <mat-divider class="objetoSimple"></mat-divider>
          
            <div class="botonera-form">
                
                <button mat-raised-button class="boton-principal-light" type="button"
                    (click)="onNoClick('CONFIRM_DLG_YES')">Aceptar</button>
            </div>
        </div>
    </div>

</div>