<div class="content-dialog">
    <div class="titledialog color-principal">
        <mat-icon>check</mat-icon> &nbsp; Confirmación
    </div>
    <br>
    <div class="body-dialog">
        <div class="contenidoForm">

            <div class="objeto col-xs-12 col-s-12 col-m-12 col-l-12 col-xl-12">
                <div class="mensaje">{{mensaje}}</div>
            </div>
            <br>
            <mat-divider class="objetoSimple col-xs-12 col-s-12 col-m-12 col-l-12 col-xl-12"></mat-divider>
          
            <div class="botonera-form">
                
                <button mat-raised-button class="boton-principal-light" type="button"
                    (click)="onNoClick('CONFIRM_DLG_YES')">Aceptar</button>
            </div>
        </div>
    </div>

</div>