<div class="contenidoForm">
    <form [formGroup]="formulary" (ngSubmit)="agregarReferencia(formulary.value)">
        <div class="objeto col-xs-12 col-s-12 col-m-12 col-l-12 col-xl-12">
            <div class="objeto col-xs-12 col-s-6 col-m-4 col-l-3 col-xl-3">
                <mat-form-field appearance="outline">
                    <mat-label>Empresa</mat-label>
                    <input matInput name="empresa" readonly="true">
                </mat-form-field>
            </div>
            <div class="objeto col-xs-12 col-s-6 col-m-4 col-l-3 col-xl-3">
                <mat-form-field appearance="outline">
                    <mat-label>RUC</mat-label>
                    <input matInput formControlName="ruc">
                </mat-form-field>
            </div>
            <div class="objeto col-xs-12 col-s-6 col-m-4 col-l-3 col-xl-3">
                <mat-form-field appearance="outline">
                    <mat-label>Contacto</mat-label>
                    <input matInput formControlName="contacto">
                </mat-form-field>
            </div>
            <div class="objeto col-xs-12 col-s-6 col-m-4 col-l-3 col-xl-3">
                <mat-form-field appearance="outline">
                    <mat-label>Cargo</mat-label>
                    <input matInput formControlName="cargo">
                </mat-form-field>
            </div>
            <div class="objeto col-xs-12 col-s-6 col-m-4 col-l-3 col-xl-3">
                <mat-form-field appearance="outline">
                    <mat-label>Teléfono</mat-label>
                    <input matInput formControlName="telefono">
                </mat-form-field>
            </div>
            <div class="objetoBoton col-xs-12 col-s-6 col-m-4 col-l-3 col-xl-3">
                <button mat-flat-button aria-label="agregarReferencia" class="boton-principal-light" type="submit">
                    Agregar
                </button>
            </div>
        </div>
    </form>

</div>

<div class="content-table col-xs-12 col-s-12 col-m-12 col-l-12 col-xl-12">
    <table mat-table [dataSource]="listadoReferenciasComerciales" class="mat-elevation-z8 ">
        <caption title="tablaReferenciasComerciales"></caption>
        <!-- Table estrategias - por sociedad -->
        <!-- Column -->
        <ng-container matColumnDef="empresa">
            <th mat-header-cell *matHeaderCellDef> Empresa </th>
            <td mat-cell *matCellDef="let element"> <u> {{element.empresa}} </u></td>
        </ng-container>
        <!-- Column -->
        <ng-container matColumnDef="ruc">
            <th mat-header-cell *matHeaderCellDef> Ruc </th>
            <td mat-cell *matCellDef="let element"> <u> {{element.ruc}} </u></td>
        </ng-container>
        <!-- Column -->
        <ng-container matColumnDef="contacto">
            <th mat-header-cell *matHeaderCellDef> Contacto </th>
            <td mat-cell *matCellDef="let element"> <u> {{element.contacto}} </u></td>
        </ng-container>

        <ng-container matColumnDef="cargo">
            <th mat-header-cell *matHeaderCellDef> Cargo </th>
            <td mat-cell *matCellDef="let element"> <u> {{element.cargo}} </u></td>
        </ng-container>

        <ng-container matColumnDef="telefono">
            <th mat-header-cell *matHeaderCellDef> Telefono </th>
            <td mat-cell *matCellDef="let element"> <u> {{element.telefono}} </u></td>
        </ng-container>


        <!-- Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let element">
                <button type="button" mat-icon-button class="color_secundario" (click)="eliminarReferencia(element.id);">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</div>
