<div class="content-form-dialog">
    <br>
    <div class="titledialog color-title">Nuevo Plan de Crédito</div>
    <br>
    <div class="body-dialog">
        <div class="contenidoForm">
            <br>
            <form [formGroup]="formulary" (ngSubmit)="agregar(formulary.value)">

                <div class="objetoNuevoPlan">
                    <mat-form-field appearance="outline">
                        <mat-label>Tipo Linea</mat-label>
                        <mat-select formControlName="tipo_linea" (selectionChange)="seteoTipoLinea()" required>
                            <mat-option *ngFor="let tipo_linea of listadoTipoLinea" [value]="tipo_linea">
                                {{ tipo_linea.nombre }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="objetoNuevoPlan">
                    <mat-form-field appearance="outline">
                        <mat-label>Moneda</mat-label>
                        <mat-select formControlName="moneda" required>
                            <mat-option *ngFor="let moneda of listadoMoneda" [value]="moneda">
                                {{ moneda.nombre}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="objetoNuevoPlan">
                    <mat-form-field appearance="outline">
                        <mat-label>Plan de Crédito</mat-label>
                        <mat-select formControlName="plan_credito" required>
                            <mat-option *ngFor="let item of listadoPlanesCredito" [value]="item.tipo_plan_credito">
                                {{ item.tipo_plan_credito.nombre }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="objetoNuevoPlan">
                    <span>* Selecciona solo si se hará un reemplazo de plan</span>
                    <mat-checkbox formControlName="reemplazo" [(ngModel)]="checkReemplazoPlan">Reemplazo de planes
                    </mat-checkbox>
                </div>


                <div class="objetoNuevoPlan">
                    <mat-form-field appearance="outline">
                        <mat-label>Empresa</mat-label>
                        <mat-select formControlName="empresa" required>
                            <mat-option *ngFor="let item of listadoPlanesCredito" [value]="item.tipo_plan_credito">
                                {{ item.tipo_plan_credito.nombre }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>


                <div class="objetoNuevoPlan">
                    <mat-form-field appearance="outline">
                        <mat-label>Importe</mat-label>
                        <input matInput placeholder="Ingrese importe" formControlName="importe" required>
                        <mat-hint>
                            <mat-error [hidden]="!(formErrors.importe)">
                                {{formErrors.importe}}
                            </mat-error>
                        </mat-hint>

                    </mat-form-field>
                </div>


                <div class="objetoNuevoPlan"
                    *ngIf="formulary.get('tipo_linea').value.id===LINEA_TEMPORAL">
                    <mat-form-field appearance="outline">
                        <mat-label>Vigencia</mat-label>
                        <mat-select formControlName="vigencia" required>
                            <mat-option *ngFor="let vigencia of listadoVigencias" [value]="vigencia">
                                {{ vigencia.nombre }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="objetoNuevoPlan">
                    <mat-form-field appearance="outline">
                        <mat-label>Línea de Productos</mat-label>
                        <mat-select formControlName="linea_producto" multiple>
                            <mat-option *ngFor="let linea_producto of listadoLineaProducto" [value]="linea_producto">
                                {{ linea_producto.nombre }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                

                <table mat-table [dataSource]="dataSources" class="tableforms mat-elevation-z8">

                    <ng-container matColumnDef="position">
                      <th mat-header-cell *matHeaderCellDef> Linea de Producto </th>
                      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                    </ng-container>

                    <ng-container matColumnDef="name">
                      <th mat-header-cell *matHeaderCellDef> Condición de Pago </th>
                      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>
                
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnas;"></tr>
                  </table>
                






                <div class="objetoNuevoPlan">
                    <mat-form-field appearance="outline">
                        <mat-label>Documentos Valorados</mat-label>
                        <mat-select formControlName="documento_valorado" multiple>
                            <mat-option *ngFor="let documento_valorado of listadoDocumentosValorados"
                                [value]="documento_valorado">
                                {{ documento_valorado.nombre }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>



                <table mat-table [dataSource]="dataSource" class="tableforms mat-elevation-z8">

                    <!--- Note that these columns can be defined in any order.
                          The actual rendered columns are set as a property on the row definition" -->
                  
                    <!-- Position Column -->
                    <ng-container matColumnDef="position">
                      <th mat-header-cell *matHeaderCellDef> Documento Valorado </th>
                      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                    </ng-container>
                  
                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                      <th mat-header-cell *matHeaderCellDef> Importe </th>
                      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>
                
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>


                <div class="objetoNuevoPlan">
                    <mat-form-field appearance="outline">
                        <mat-label>Información Adicional</mat-label>
                        <input matInput placeholder="Ingrese Información adicional"
                            formControlName="informacion_adicional" required>
                        <mat-hint>
                            <mat-error [hidden]="!(formErrors.informacion_adicional)">
                                {{formErrors.informacion_adicional}}
                            </mat-error>
                        </mat-hint>
                    </mat-form-field>
                </div>


                <div class="objetoBoton">

                    <button mat-raised-button class="boton-secundario_popup"
                        (click)="onNoClick('CONFIRM_DLG_NO')">Cerrar</button>
                    <button mat-raised-button class="boton-principal_popup" type="submit">Aplicar</button>
                </div>
            </form>
        </div>
    </div>
</div>