<mat-card class="header_adjuntos">
    <span class="adjuntos_text">Estados Financieros:</span>
    <mat-radio-group [formControl]="estadosfinancieros" aria-label="Selecciona una opción">
        <mat-radio-button class="header_seleccionar" [(value)]="adjuntarfinancieros">Si
        </mat-radio-button>
        <mat-radio-button [(value)]="motivofinancieros">No</mat-radio-button>
    </mat-radio-group>
</mat-card>


<div class="si_o_no" *ngIf="estadosfinancieros.value === adjuntarfinancieros">
    <mat-card class="subheader_adjuntos">
        <span class="Agregar"> + Agregar Archivos</span>
        <br>
        <strong><span style="color: #ff0000">*Los estados financieros deben tener una vigencia no mayor a 3
                meses.</span></strong>
    </mat-card>
    <mat-card class="zona_de_adjuntos">
        <form [formGroup]="formFinancialState" (ngSubmit)="onSaveForm()">
            <div class="row g-4">
                <div class="col-12">
                    <label>Adjuntar documento: </label>
                    <mat-form-field appearance="outline" (click)="f_input.click()">
                        <button mat-icon-button matPrefix type="button">
                            <mat-icon>attach_file</mat-icon>
                        </button>
                        <input type="text" placeholder="Seleccione el archivo a adjuntar" readonly matInput
                            formControlName="file" />
                        <input type="file" hidden #f_input (change)="onInputFileChange(f_input.files)" />
                    </mat-form-field>
                </div>
    
                <div class="col-12">
                    <label>Descripción:</label>
                    <mat-form-field appearance="outline">
                        <mat-label>Escriba una descripción</mat-label>
                        <textarea formControlName="description" matInput placeholder="Escribir..."></textarea>
                    </mat-form-field>
                </div>
    
                <div class="d-flex flex-row justify-content-end">
                    <button mat-raised-button class="boton-principal-light" [disabled]="!formFinancialState.valid"
                        type="submit" matStepperNext>Guardar</button>
                </div>
            </div>


           <!--  <div class="descripcion_adjuntos"><span class="descripcion_1">Adjuntar:</span><button mat-raised-button
                    class="boton-adjuntos">Seleccionar Archivo</button><span>Ningun archivo seleccionado...</span></div>
            <div>
                <div class="izquierda">
                    <input type="file" class="file-input" formControlName="fileAnexoSolicitud" name="fileAnexoSolicitud" #fileUpload4 (change)="onSelectAnexoSolicitud($event)">
                    <div class="file-upload">
                        <span class="fontLabel"> Cargar anexo:</span>
                        &nbsp;&nbsp;
                        <button mat-icon-button color="accent" type="button" 
                        class="upload-btn" 
                        (click)="fileUpload4.click()"  
                        matTooltip="Cargar Anexo" 
                        >
                            <mat-icon>upload</mat-icon>
                        </button>
                        
                    </div>
                </div>
    
                <span class="descripcion">Descripción:</span>
                <mat-form-field class="bloquedescripcion" appearance="outline">
                    <mat-label>Escriba una descripción</mat-label>
                    <textarea matInput placeholder="Escribir..."></textarea>
                </mat-form-field>
            </div> -->
        </form>
    </mat-card>
</div>


<div>
    <mat-card class="zona_de_adjuntos" *ngIf="estadosfinancieros.value === motivofinancieros">
        <span>Es obligatorio indicar el motivo de no presentar estados financieros selecciona una opción:</span>
        <mat-radio-group name="Opciones">
            <div>
                <mat-radio-button value="1">La empresa considera que los EEFF son confidenciales.</mat-radio-button>
            </div>
            <div>
                <mat-radio-button value="2">No se obtuvieron los EEFF al presentar la solicitud.</mat-radio-button>
            </div>
            <div>
                <mat-radio-button value="3">La empresa no cuenta con EEFF con una antigüedad no mayor a 3 meses.
                </mat-radio-button>
            </div>
            <div>
                <mat-radio-button value="4">Otros: <mat-form-field class="bloquedescripcion" appearance="outline">
                        <mat-label>Escriba una descripción</mat-label>
                        <textarea matInput placeholder="Escribir..."></textarea>
                    </mat-form-field>
                </mat-radio-button>
            </div>
        </mat-radio-group>
    </mat-card>
</div>