<div class="Header_POPUPConfig">
    <div class="titledialog_Config">Editar Suplencia</div>
</div>


<div class="contenidoForm_Config">
    <form [formGroup]="editarFormDialog" (ngSubmit)="editarSuplencia(editarFormDialog.value)">


        <div class="Title_POPUPConfig">Usuario:</div>
        <mat-form-field appearance="fill">
            <mat-label>Seleccionar</mat-label>
            <input type="text" matInput placeholder="Usuario" formControlName="usuario" [matAutocomplete]="auto"
                required>
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                <mat-option *ngFor="let option of filteredUsuario | async" [value]="option">
                    {{option.nombre}}
                </mat-option>
            </mat-autocomplete>
            <mat-hint>
                <mat-error [hidden]="!(formErrors.usuario)">
                    {{formErrors.usuario}}
                </mat-error>
            </mat-hint>
        </mat-form-field>


        <div class="Title_POPUPConfig">Usuario Suplente:</div>
        <mat-form-field appearance="fill">
            <mat-label>Seleccionar</mat-label>
            <input type="text" matInput placeholder="Usuario suplente" formControlName="usuario_suplente"
                [matAutocomplete]="autoSuplente" required>
            <mat-autocomplete #autoSuplente="matAutocomplete" [displayWith]="displayFnSuplente">
                <mat-option *ngFor="let option of filteredUsuarioSuplente | async" [value]="option">
                    {{option.nombre}}
                </mat-option>
            </mat-autocomplete>
            <mat-hint>
                <mat-error [hidden]="!(formErrors.usuario)">
                    {{formErrors.usuario_suplente}}
                </mat-error>
            </mat-hint>

        </mat-form-field>


        <div class="Title_POPUPConfig">Fecha Inicio:</div>
        <mat-form-field appearance="fill">
            <mat-label>Seleccionar</mat-label>
            <input matInput [matDatepicker]="picker1" formControlName="fecha_inicio">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1 color="primary"></mat-datepicker>
            <mat-hint>
                <mat-error [hidden]="!(formErrors.fecha_inicio)">
                    {{errorFechaInicio}}
                </mat-error>
            </mat-hint>

        </mat-form-field>

        <div class="Title_POPUPConfig">Fecha Fin:</div>
        <mat-form-field appearance="fill">
            <mat-label>Seleccionar</mat-label>
            <input matInput [matDatepicker]="picker2" formControlName="fecha_fin">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2 color="primary"></mat-datepicker>
            <mat-hint>
                <mat-error [hidden]="!(formErrors.fecha_fin)">
                    {{errorFechaFin}}
                </mat-error>
            </mat-hint>
        </mat-form-field>

        <div class="botonera_PopUPConfig">
            <button mat-raised-button class="color-secundario" type="button"
                (click)="onNoClick('CONFIRM_DLG_NO')">Cancelar</button>
            <button mat-raised-button class="boton-principal-light" type="submit"
                [disabled]="editarFormDialog.invalid">Actualizar</button>
        </div>
    </form>
</div>