<div class="DialogMotivoDevolucion">
    <div>
        <mat-icon class="warning_pop IconWarning">warning</mat-icon>
    </div>
    <div class="titledialog color-secundario">
        <span>Estas apunto de devolver la solicitud</span>
    </div>
    
    <div class="BodyDialogDevolucion">
        <div><b>Ingresa el motivo de la devolución</b></div>
        <div style="color: red;">*Campo Obligatorio</div>
        <div class="contenidoForm">
            <form class="example-form">
                <mat-form-field isDisabled class="example-full-width" appearance="fill">
                    <mat-label>Escriba aquí el motivo...</mat-label>
                    <textarea matInput [formControl]="motivoFormControl"></textarea>
                </mat-form-field>

                <mat-divider class="divisorConfig"></mat-divider>

                <div class="botonera-form">
                    <button mat-raised-button class="color-secundario" type="button"
                        (click)="onNoClick('CONFIRM_DLG_NO')">Cancelar</button> &nbsp;
                    <button mat-raised-button class="boton-principal-light" type="button"
                        [disabled]="motivoFormControl.hasError('required')"
                        (click)="onNoClick('CONFIRM_DLG_YES')">Aceptar</button>
                </div>
            </form>
        </div>
    </div>

</div>