<div class="DialogConfig">   
    <div class="titledialog color-secundario">
        <span>Motivo</span>
    </div>
    <div class="body-dialog">
        <div class="contenidoForm">
            <form class="example-form">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Ingrese motivo</mat-label>
                    <textarea matInput [formControl] = "motivoFormControl"></textarea>
                </mat-form-field>

                <mat-divider class="divisorConfig"></mat-divider>

                <div class="botonera-form">
                    <button mat-raised-button class="color-secundario" type="button"
                        (click)="onNoClick('CONFIRM_DLG_NO')">Cancelar</button> &nbsp;
                    <button mat-raised-button class="boton-principal-light" type="button"

                         [disabled]="motivoFormControl.hasError('required')"

                        (click)="onNoClick('CONFIRM_DLG_YES')">Aceptar</button>
                </div>
            </form>
        </div>
    </div>

</div>