<br>
<div class="content-table col-s-11 col- col-m-11 col-xl-11">
    <span class="label-info"><mat-icon>info</mat-icon> &nbsp; Para editar el importe dar doble clic en él</span>
    <table mat-table [dataSource]="listadoImporteMaximo" class="mat-elevation-z8 tabla-sm" >
        <!-- Table estrategias - por sociedad -->
        <!-- Column -->
        <ng-container matColumnDef="grupocliente">
            <th mat-header-cell *matHeaderCellDef> Grupo de Cliente </th>
            <td mat-cell *matCellDef="let element" >
                <mat-checkbox class="example-margin" (change)="onChangeCruce(element)"></mat-checkbox>
            </td>
        </ng-container>
        <ng-container matColumnDef="morosidad">
            <th mat-header-cell *matHeaderCellDef> Morosidad</th>
            <td mat-cell *matCellDef="let element" > {{element.morosidad}} </td>
        </ng-container>
        <ng-container matColumnDef="importemax">
            <th mat-header-cell *matHeaderCellDef> Importe Máximo </th>
            <td mat-cell *matCellDef="let element" (dblclick)="openEditarImporte(element)"> {{element.importemax}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>