<div class="InformaciónPlanConfig">
    <div class="">
        <span class="label-info"><mat-icon>info</mat-icon> &nbsp; Para editar el importe dar doble clic en él</span>
        <table mat-table  matTableResponsive [dataSource]="listadoImporteMaximo" class="mat-elevation-z8" >
            <!-- Table estrategias - por sociedad -->
            <!-- Column -->
            
            <ng-container matColumnDef="grupocliente">
                <th mat-header-cell *matHeaderCellDef> Grupo Cliente</th>
                <td mat-cell *matCellDef="let element" > {{element.grupocliente}} </td>
            </ng-container>
            <ng-container matColumnDef="morosidad">
                <th mat-header-cell *matHeaderCellDef> Morosidad</th>
                <td mat-cell *matCellDef="let element" > {{element.morosidad}} </td>
            </ng-container>
            <ng-container matColumnDef="importemax">
                <th mat-header-cell *matHeaderCellDef> Importe Máximo </th>
                <td mat-cell *matCellDef="let element" class="tdEditable" >
                    <mat-form-field appearance="outline">
                        <input matInput placeholder="importemax"  required [value]="element.importemax">
                    </mat-form-field>
                </td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        </div>

        <div class="BotonInfoPlan">
            <button mat-raised-button class="boton-principal-light" type="guardarCrucePlanes()" >Guardar</button>
        </div>
        </div>