<div class="botonera-ModuloConfig">
    <div class="titlesectionSolicitud">
        <span>Administración de Planes</span>
    </div>
<!--     <div class="botonera">
        <button mat-flat-button class="boton-principal-light" (click)="openAgregarPlan()">Agregar</button>
    </div> -->

</div>
<mat-divider class="divisorConfig"></mat-divider>

<div class="content-table">
    <span class="label-info">
        <mat-icon>info</mat-icon>Para configurar el plan dar doble clic en el nombre.
    </span>
    <table mat-table [dataSource]="listadoPlanes" class="mat-elevation-z8 tablaAprobador">
        <!-- Table estrategias - por sociedad -->
        <!-- Column -->
        <ng-container matColumnDef="plan">
            <th class="PointerHand" mat-header-cell *matHeaderCellDef> Nombre Plan</th>
            <td class="PointerHand" mat-cell *matCellDef="let element" (dblclick)="openConfigurarPlan(element)"><u>
                    {{element.tipo_plan_credito.nombre}} </u></td>
        </ng-container>

        <!-- Column -->
        <ng-container matColumnDef="activo">
            <th mat-header-cell *matHeaderCellDef> Activo </th>
            <td mat-cell *matCellDef="let element">
                <mat-slide-toggle [(ngModel)]="element.activo" (ngModelChange)="onchangeEstado(element)">
                </mat-slide-toggle>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsSociedad"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsSociedad;"></tr>
    </table>

</div>