/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #F5F5F5; 
}
.main-content{
    height: 100%;
    width: 100%;
    font-family: 'Poppins medium' ; 
    /* font-weight: 'regular'; */
    font-size: 10pt;
    display: inline-block;
    position: relative;
}


.action-content{
    margin: 0;
    font-family: 'Poppins regular' ; 
    display: inline-block;
    position: relative;
    font-size:9pt;
}
.body-content{
    margin: 0;
    display: inline-block;
    position: relative;
}
.content{
  margin: 0;
}


/* colores  */
.color-principal{
  color: #1D8F3A;
}



.boton-principal-light{
  background-color: #05C65D;
  color: #FFFFFF;
}
.boton-secundario{
  background-color: #707070;
  color: #FFFFFF;
}
mat-header-cell{
  background-color: #05C65D !important;
  color: #FFFFFF !important;
}
.color-secundario{
  color:#707070;
}



.header {
    padding: 60px;
    text-align: center;
    background: #FFFFFF; 
    
  }

.toolbar-color{
  background: #FFFFFF; 
  color: #1D8F3A;
}

.sidebar{
  
  background: #FFFFFF; 
}

/* ini Breadcrumbs */
.breadcrumb{
  list-style: none;
  padding: 0;
  margin-top: 10px;
  display: flex;
}
.breadcrumb li {
  padding: 10px;
}

.breadcrumb mat-icon{
  font-size: 12pt;

  margin:0 !important;
}

/* (C) MENU ITEMS */
.breadcrumb a {
  text-decoration: none;
  color: #707070;
  font-weight: 700;
}
 
/* (D) ARROW TRAIL */
.breadcrumb li::after {
  content: "/";
  margin-left: 10px;
  color: #1D8F3A;
}
.breadcrumb li:last-child::after {
  content: none;
}

/* fin  Breadcrumbs */

.titlesection{
  margin-top:25px;
  font-size: 20pt;
  color: #B4B4B4;
}
.titledialog{
  margin-top:0px;
  font-size: 16pt;
  font-weight: bold;
  color: #B4B4B4;
  width: 100%;
}
.titledialog mat-icon{
  font-size: 20pt;
}
.contentDialog{
  font-size: 13pt;
  margin-top:10px;
  text-align:center;
  display: flex;
  flex-flow: row wrap;
}
.content-dialog{
  padding-top:10px;
  
}
.botonera{
  padding-top:10px;
}

.botonera-form{
text-align: center;
}
.content-table{
  position: relative;
    display: block;
    width: 99%;
    display: flex;
  flex-flow: row wrap;
}
.content-section{
  margin-top:10px;
  margin-bottom:10px;
  display: block;
  overflow-x: auto;
  max-height:500px !important;
}
.contenidoForm{
  width: 99%;  
}

.objeto{
    float:left;
     height: auto; 
}
.objetoSimple{
    float:left;
    height: 10px;
}

.tabla-sm{
  margin-left: 10px;
  width: 300px;
}

table {
  min-width: 100%;
}


.file-input-insivible {
  display: none !important;
}

.label-info {
  color: skyblue;
  font-size: 9pt;
}
.label-info mat-icon{
  font-size: 8pt !important;
}

/* Para componentes corrección defaults. */
.example-spacer {
  flex: 1 1 auto;
}
.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: #05C65D !important;
}
.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: rgba(5, 198, 93, 0.40);
}
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
  background-color: #05C65D;
}
th.mat-header-cell{
  background-color: #05C65D;
  color: #fff;
}

.tdEditable .mat-form-field-appearance-outline .mat-form-field-infix{
  padding: 3px 0 3px 0 !important;
}
.tdEditable .mat-form-field-appearance-outline .mat-form-field-flex{
  margin-top: 4px;
}
.tdEditable .mat-form-field-wrapper {
  padding-bottom: 7px;
}
.mat-primary .mat-pseudo-checkbox-checked, .mat-primary .mat-pseudo-checkbox-indeterminate{
  background-color: #1D8F3A;
}
.mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple{
  background-color: #1D8F3A;
}
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #1D8F3A;
}




/* INIT - Grid responsive */

  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 599px) {
    .col-xs-1 {width: 8.33%;}
    .col-xs-2 {width: 16.66%;}
    .col-xs-3 {width: 25%;}
    .col-xs-4 {width: 33.33%;}
    .col-xs-5 {width: 41.66%;}
    .col-xs-6 {width: 50%;}
    .col-xs-7 {width: 58.33%;}
    .col-xs-8 {width: 66.66%;}
    .col-xs-9 {width: 75%;}
    .col-xs-10 {width: 83.33%;}
    .col-xs-11 {width: 91.66%;}
    .col-xs-12 {width: 100%;}
  }
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }

  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
  }
 /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    /* For desktop: */
    
    .col-l-1 {width: 8.33% !important;}
    .col-l-2 {width: 16.66%;}
    .col-l-3 {width: 25%;}
    .col-l-4 {width: 33.33%;}
    .col-l-5 {width: 41.66%;}
    .col-l-6 {width: 50%;}
    .col-l-7 {width: 58.33%;}
    .col-l-8 {width: 66.66%;}
    .col-l-9 {width: 75%;}
    .col-l-10 {width: 83.33%;}
    .col-l-11 {width: 91.66% !important;}
    .col-l-12 {width: 100%;}
  }
/* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    /* For wide desktop: */

    

    .col-xl-1 {width: 8.33%;}
    .col-xl-2 {width: 16.66%;}
    .col-xl-3 {width: 25%;}
    .col-xl-4 {width: 33.33%;}
    .col-xl-5 {width: 41.66%;}
    .col-xl-6 {width: 50%;}
    .col-xl-7 {width: 58.33%;}
    .col-xl-8 {width: 66.66%;}
    .col-xl-9 {width: 75%;}
    .col-xl-10 {width: 83.33%;}
    .col-xl-11 {width: 91.66%;}
    .col-xl-12 {width: 100%;}
  }



  /* END - Grid responsive */