/* You can add global styles to this file, and also import other style files */
body {
    font-family: Poppins, Arial, sans-serif;
    margin: 0;
  }

/* colores letras*/

.color-principal {
    color: #05C65D;
}

.color-secundario {
    color: #707070;
}

.color-error {
    color: #D05445;
}

.color-warning {
    color: #DFCA52;
}

.color-notify {
    color: #3482A1;
}

.color-title {
    color: #B4B4B4;
}

.color-aprobacion {
    color: #F7FF0E;
}

.color-aprobado {
    color: #E18D11;
}

.color-activado {
    color: #04C55C;
}

.color-retirado {
    color: #A8A8A8;
}

.color-rechazado {
    color: #FF0000;
}


/* sidenav */

.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;
    height: 90vh;
}

.full-height {
    height: 100%;
}

.padded {
    padding: 10px;
}

.with-icon {
    display: flex;
    align-items: center;
}

.submenu {
    color: #FFF;
    margin-top: -10px;
    margin-bottom: -10px;
}

mat-tree a {
    text-decoration: none;
    color: #707070;
    cursor: hand;
}

mat-tree a:link {
    color: #707070;
}

mat-tree a:visited {
    color: #707070;
}

mat-tree a:focus {
    color: #707070;
}

mat-tree a:hover {
    color: #B4B4B4;
}

mat-tree a:active {
    color: #707070;
}


/* pagina 404 */

.page {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mensaje-not-found {
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -100px;
    height: 200px;
    width: 400px;
}

.titulo-grande {
    font-size: 100pt;
    font-weight: bold;
    height: 42px;
}

.subtitulo {
    font-size: 15pt;
    font-weight: bold;
}


/* fonts sizes */

.title-add-element {
    font-size: 14pt;
    font-weight: bold;
    margin: 5px 0px 20px 0px;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #F5F5F5;
}

.main-content {
    height: 100%;
    width: 100%;
    font-family: 'Poppins medium';
    /* font-weight: 'regular'; */
    font-size: 10pt;
    display: inline-block;
    position: relative;
}

.action-content {
    margin: 0;
    font-family: 'Poppins regular';
    display: inline-block;
    position: relative;
    font-size: 9pt;
}

.body-content {
    margin: 0;
    padding: 0px 0px 0px 10px;
    display: inline-block;
    position: relative;
}

.content {
    margin: 20px;
}

.boton-principal-light {
    background-color: #05C65D;
    color: #FFFFFF;
}

.boton-principal_popup{

    background-color: #05C65D;
    color: #FFFFFF;
    margin-right: 12px !important;
}

.boton-secundario_popup{

    background-color: #707070;
    color: #FFFFFF;
    margin-right: 12px !important;
}

.boton-secundario {
    background-color: #707070;
    color: #FFFFFF ;
}

.card-login {
    display: absolute;
    width: 300px;
    height: 200px;
    margin: 20px 20px 20px 20px;
    text-align: center;
    top: 25%;
}
.headerLogin {
    padding-top: 30px;
    text-align: center;
    align-content: center;
    flex-direction: column !important;

} 

.background{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.mat-header-cell {
    background-color: #05C65D !important;
    color: #000000 !important;
}

.header {
    padding: 60px;
    text-align: center;
    background: #FFFFFF;
}

.toolbar-color {
    background: #FFFFFF;
    color: #05C65D;
}

.sidebar {
    background: #FFFFFF;
}


/* ini Breadcrumbs */

.breadcrumb {
    list-style: none;
    padding: 0;
    margin-top: 10px;
    display: flex;
}

.breadcrumb li {
    padding: 5px;
}

.breadcrumb mat-icon {
    font-size: 12pt;
    margin: 0px -8px 0px 0px;
}


/* (C) MENU ITEMS */

.breadcrumb a {
    text-decoration: none;
    color: #707070;
    font-weight: 800;
}


/* (D) ARROW TRAIL */

.breadcrumb li::after {
    font-weight: bold;
    content: "/";
    margin: 0px 0px 0px 5px;
    color: #707070;
}

.breadcrumb li:last-child::after {
    content: none;
}


/* fin  Breadcrumbs */

.titlesection {
    margin-top: 25px;
    font-size: 20pt;
    color: #B4B4B4;
}
.titledocumento {
    margin-top: 20px;
    font-size: 16pt;
    color: #B4B4B4;
}

.titledialog {
    margin-top: 0px;
    font-size: 18pt;
    font-weight: bold;
    width: 100%;
}

.titledialog mat-icon {
    font-size: 20pt;
}

.contentDialog {
    font-size: 13pt;
    margin-top: 10px;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
}

.content-dialog {
    padding-top: 10px;
}

.content-form-dialog {
    padding-top: 5px;
    overflow-y: auto;
    height: 70vh;
}

.botonera {
    padding-top: 10px;
    
}

.botonera-superior {
    float: right;
    display: block;
}


/* stepper */

.content-body-step {
    overflow-y: auto;
    height: 65vh;
    width: 100%;
}

.botonera-step {
    float: left;
    padding: 18px 0px 0px 0px;
}

.botonera-form {
    text-align: center;
}

.content-table {
    position: relative;
    display: block;
    width: 99%;
    display: flex;
    flex-flow: row wrap;
}

.content-section {
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    overflow-x: auto;
    max-height: 60vh;
}
.mat-stepper-horizontal{
    background-color: #ffffff00;
}

.acordeon{
    padding-top: 20px;
    width: 95%;
}


/* .content-stepper {
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    height: 68vh;
} */

.center {
    text-align: center;
}

.objeto {
    float: left;
    height: auto;
}
.objeto_right {
    display: flex;
    justify-content: flex-end;

}

.objetoCuadro{
    float: left;
    height: 650px;
}
.formElementoPlano {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.objetoSimple {
    float: left;
    height: 30px;
    width: 30px;
    padding: 3px;
}

.objetoBoton {
    float: left;
    height: 10px;
    margin-top: 10px;
    padding-bottom: 40px;
}

.objetoEmpresa {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgb(0 0 0 / 20%);
    margin-bottom: 15px;
    background-color: #fff;
}

.label {
    display: flex;
    width: 150px;
    font-weight: bold;
    float: left;
}

.dato {
    display: flex;
    align-items: center;
    min-width: 210px;
    margin-left: 3px;
    justify-content: flex-end;
    padding-right: 30px;
    min-height: 52px;

}

.input_forms{
    width: 200px !important;
}

.tabla-sm {
    margin-left: 10px;
    width: 300px;
}

table {
    min-width: 100%;
}

.mensaje {
    font-size: 13pt;
    text-align: center;
    padding: 5px 10px 20px 10px;
}

.file-input-insivible {
    display: none !important;
}

.label-info {
    color: #3482A1;
    font-size: 9pt;
}

.label-info mat-icon {
    font-size: 8pt !important;
}


/* Para componentes corrección defaults. */

.example-spacer {
    flex: 1 1 auto;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: #05C65D !important;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: rgba(5, 198, 93, 0.40);
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: #05C65D;
}

th.mat-header-cell {
    background-color: #05C65D;
    color: rgb(255, 255, 255);
}

.mat-form-field{
    width: 250px;
    padding-right: 10px;
    display: flex;
}

.mat-form-field-appearance-fill .mat-form-field-flex{
    background-color: #fff;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.12), 
    0px 3px 3px 0px rgba(0, 0, 0, 0.14), 
    0px 1px 2px 0px rgba(0, 0, 0, 0.12) !important;
    border-radius: 0px 0px 0px 0px !important;
}

.mat-form-field .mat-focused .mat-form-field-ripple{
    background-color: #04c55b00 !important;
    display: flex !important;

}



.boton-buscar{
    background-color: #fff !important;
    border-radius: 0px !important;
    height: 49px !important;
    width: 49px !important;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.12), 
    0px 3px 3px 0px rgba(0, 0, 0, 0.14), 
    0px 1px 2px 0px rgba(0, 0, 0, 0.12) !important;
}

.formInput{
 padding-right:25px;  
 padding-top: 15px; 
}

.mat-form-field-wrapper{
    padding-bottom: 0px;
}
.mat-form-field-underline{
    display: none;
}

.formInputo{
    padding-right: 25px;
}

.tdEditable .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 3px 0 3px 0 !important;
}

.tdEditable .mat-form-field-appearance-outline .mat-form-field-flex {
    margin-top: 4px;
}

.tdEditable .mat-form-field-wrapper {
    padding-bottom: 7px;
}

.mat-primary .mat-pseudo-checkbox-checked,
.mat-primary .mat-pseudo-checkbox-indeterminate {
    background-color: #05C65D;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle,
.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple),
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple,
.mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
    background-color: #05C65D;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #05C65D;
}

.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: #05C65D;
}

.mat-step-header .mat-step-icon-selected,
.mat-step-header .mat-step-icon-state-done,
.mat-step-header .mat-step-icon-state-edit {
    background-color: #05C65D;
}

.mat-stepper-horizontal,
.mat-stepper-vertical {
    border-radius: 4px;
}

.mat-flat-button.mat-primary,
.mat-raised-button.mat-primary,
.mat-fab.mat-primary,
.mat-mini-fab.mat-primary {
    background-color: #05C65D;
}

.seleccionclientes{
    display: flex;
    position: relative;
    margin-top: 10px !important;
}

.mat-radio-label{
    padding-right: 15px;
}

.buscar{
    display: flex;
    position: relative;
    align-items: center !important;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-top: 15px;
  
}

/* cdk dragDrop */

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
    border: none;
}

.example-custom-placeholder {
    background: #ccc;
    border: dotted 3px #999;
    min-height: 60px;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-list {
    width: 500px;
    max-width: 100%;
    border: solid 1px #ccc;
    min-height: 60px;
    display: block;
    background: white;
    border-radius: 4px;
    overflow: hidden;
}

.example-box {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
}


/* Estilos para motores Webkit y blink (Chrome, Safari, Opera... )*/

body::-webkit-scrollbar {
    width: 3px;
    /* width of the entire scrollbar */
}


/* body::-webkit-scrollbar-track {
      background: orange;
     color of the tracking area
} */

body::-webkit-scrollbar-thumb {
    background-color: rgb(5 198 93 / 10%);
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    /* border: 2px solid orange;  */
    /* creates padding around scroll thumb */
}

.mat-drawer-content::-webkit-scrollbar {
    width: 3px;
}

.mat-drawer-content::-webkit-scrollbar-thumb {
    background-color: rgb(5 198 93 / 10%);
    border-radius: 20px;
}


/* stepper scroll */

.content-body-step::-webkit-scrollbar {
    width: 3px;
}

.content-body-step::-webkit-scrollbar-thumb {
    background-color: #05C65D;
    border-radius: 20px;
}

.mat-radio-button mat-icon {
    font-size: 14pt !important;
}

.mat-expansion-panel-header.mat-expanded {
    background-color: #05C65D !important;
    Color: #FFF !important;
    border-radius: 10px !important;
}
.mat-expansion-panel-header{
    background-color: #707070 !important;
    border-radius: 10px !important;
    margin-bottom: 8px;
}
.mat-expansion-panel-header-title{
    color: #FFF;
}
.mat-expansion-panel-header-description, .mat-expansion-indicator::after{
    color: #FFF !important;
    
}
.mat-expansion-panel{
    background-color: #ffffff00;
    box-shadow: 0px 0px 0px 0px #ffffff00, 0px 0px 0px 0px #ffffff00, 0px 0px 0px 0px #ffffff00 !important;
    margin-bottom: 25px;
}
.divisor{
    margin-top: 20px !important;
}

/*Adjuntos y Plantillas*/

.Agregar{
 font-size: 18px !important;
}
.header_adjuntos{
    display: flex !important;
    justify-content: left;
    border-radius: 0px 0px 0px 0px !important;
    font-size: 16px !important;
    max-width: 767px;
}

.adjuntos_text{
    padding-right: 25px;
}

.header_seleccionar{
    padding-right: 25px;
}

.boton-adjuntos{
    margin-right: 25px !important;
    background-color: #707070;
    color: #FFFFFF;
}

.descripcion {
    font-size: 15px;
    padding-right: 20px;
    vertical-align: top;
}
.descripcion_adjuntos{
    padding-bottom: 20px !important;
}

.descripcion_1{
    font-size: 15px;
    padding-right: 44px;
}

.bloquedescripcion{
    width: 500px;
    height: 70px;
}



.subheader_adjuntos{
    border-radius: 0px 0px 0px 0px !important;
    max-width: 767px;
}

.zona_de_adjuntos{
    margin-left: 20px;
    border-radius: 0px 0px 0px 0px !important;
    max-width: 747px;
}

.mat-tab-label-active {
    width: 300px !important;
    background-color: #05C65D!important;
    border-radius: 7px 7px 0px 0px;
}

.mat-tab-group{
    padding-top: 20px;
}

.mat-tab-label{
    width: 250px;
    background-color: #959595;
    border-radius: 10px 10px 0px 0px;
    color:#fff;
    height: 35px !important;
    font-size: 15px;
}

.texto{
    display: flex;
}

.showDiv {
    background-color: aqua;
    height: 200px;
    width: 500px;
 }
 
 .hideDiv {
    display: none;
 }


/* Evaluador */

.cartas{
    width: 450px;
    max-height: 980px;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }

.cartas_header{
    padding-left: 16px;
    padding-top: 14px;
    padding-bottom: 8px;
    background-color: #05C65D;
    color: #fff;
}

.cartas_contenido{
    padding-left: 16px;
    padding-top: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
}

.cartas_footer{
    padding-left: 16px !important;
    padding-top: 16px !important;
    padding-right: 16px !important;
    padding-bottom: 16px !important;
    margin-left: 0px !important;
}

.cartas_footer {
    display: table;
  }
  
  .cartafooter_label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
    vertical-align: middle;
  }
  
  .footerbutton {
    display: table-cell;
    vertical-align: middle;
    align-items: right !important;
    
  }

.cartasfoottertext{
    display: flex !important;
}

.tabladecarta{
    box-shadow:
    0px 0px 0px 0px rgba(0, 0, 0, 0),
    0px 0px 0px 0px rgba(0, 0, 0, 0),
    0px 0px 0px 0px rgba(0, 0, 0, 0);
}

.tabladecarta .mat-row{
    min-height: 48px;
}


/* INIT - Grid responsive */


/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 599px) {
    .col-xs-1 {
        width: 8.33%;
    }
    .col-xs-2 {
        width: 16.66%;
    }
    .col-xs-3 {
        width: 25%;
    }
    .col-xs-4 {
        width: 33.33%;
    }
    .col-xs-5 {
        width: 41.66%;
    }
    .col-xs-6 {
        width: 50%;
    }
    .col-xs-7 {
        width: 58.33%;
    }
    .col-xs-8 {
        width: 66.66%;
    }
    .col-xs-9 {
        width: 75%;
    }
    .col-xs-10 {
        width: 83.33%;
    }
    .col-xs-11 {
        width: 91.66%;
    }
    .col-xs-12 {
        width: 100%;
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {
        width: 8.33%;
    }
    .col-s-2 {
        width: 16.66%;
    }
    .col-s-3 {
        width: 25%;
    }
    .col-s-4 {
        width: 33.33%;
    }
    .col-s-5 {
        width: 41.66%;
    }
    .col-s-6 {
        width: 50%;
    }
    .col-s-7 {
        width: 58.33%;
    }
    .col-s-8 {
        width: 66.66%;
    }
    .col-s-9 {
        width: 75%;
    }
    .col-s-10 {
        width: 83.33%;
    }
    .col-s-11 {
        width: 91.66%;
    }
    .col-s-12 {
        width: 100%;
    }
}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    .col-m-1 {
        width: 8.33%;
    }
    .col-m-2 {
        width: 16.66%;
    }
    .col-m-3 {
        width: 25%;
    }
    .col-m-4 {
        width: 33.33%;
    }
    .col-m-5 {
        width: 41.66%;
    }
    .col-m-6 {
        width: 50%;
    }
    .col-m-7 {
        width: 58.33%;
    }
    .col-m-8 {
        width: 66.66%;
    }
    .col-m-9 {
        width: 75%;
    }
    .col-m-10 {
        width: 83.33%;
    }
    .col-m-11 {
        width: 91.66%;
    }
    .col-m-12 {
        width: 100%;
    }
}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
    /* For desktop: */
    .col-l-1 {
        width: 8.33% !important;
    }
    .col-l-2 {
        width: 16.66%;
    }
    .col-l-3 {
        width: 25%;
    }
    .col-l-4 {
        width: 33.33%;
    }
    .col-l-5 {
        width: 41.66%;
    }
    .col-l-6 {
        width: 50%;
    }
    .col-l-7 {
        width: 58.33%;
    }
    .col-l-8 {
        width: 66.66%;
    }
    .col-l-9 {
        width: 75%;
    }
    .col-l-10 {
        width: 83.33%;
    }
    .col-l-11 {
        width: 91.66% !important;
    }
    .col-l-12 {
        width: 100%;
    }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
    /* For wide desktop: */
    .col-xl-1 {
        width: 8.33%;
    }
    .col-xl-2 {
        width: 16.66%;
    }
    .col-xl-3 {
        width: 25%;
    }
    .col-xl-4 {
        width: 33.33%;
    }
    .col-xl-5 {
        width: 41.66%;
    }
    .col-xl-6 {
        width: 50%;
    }
    .col-xl-7 {
        width: 58.33%;
    }
    .col-xl-8 {
        width: 66.66%;
    }
    .col-xl-9 {
        width: 75%;
    }
    .col-xl-10 {
        width: 83.33%;
    }
    .col-xl-11 {
        width: 91.66%;
    }
    .col-xl-12 {
        width: 100%;
    }
}


/* END - Grid responsive */

@media (max-width: 768px) {
    .mat-table[matTableResponsive] {
      .mat-header-row {
        display: flex;
        flex-wrap: wrap;
        height: auto;
        position: sticky;
        top: 0;
        z-index: 2;
  
        th.mat-header-cell {
          display: flex;
          flex: 1;
          align-items: center;
          padding: 1rem 0.5rem;
          justify-content: space-around;
  
          & > .mat-sort-header-container {
            padding-left: 15px; // padding is used to center the header table cells, due to the width of the sort icon
          }
  
          &:not([mat-sort-header]),
          &.mat-sort-header-disabled,
          &.mat-column-actions {
            display: none;
          }
        }
      }
  
      .mat-row {
        height: auto;
  
        td.mat-cell:not(.mat-column-actions) {
          display: grid;
          grid-template-columns: 50% 50%;
          padding: 0.5rem;
          text-align: right;
          word-break: break-word;
  
          & > * {
            grid-column: 2;
          }
  
          &:before {
            content: attr(data-column-name);
            text-align: left;
          }
        }
  
        td.mat-column-actions {
          display: flex;
          justify-content: center;
          padding: 0 0.5rem;
  
          & > button {
            margin: 0.5rem 0;
          }
        }
  
        &:last-of-type td:last-of-type {
          border: none;
        }
  
        &:not(:last-of-type) td:last-of-type {
          border-bottom: 0.5rem solid #fafafa;
        }
      }
    }
  
    .mat-card,
    .mat-expansion-panel {
      .mat-table[matTableResponsive] {
        border: 0.5rem solid #fafafa;
      }
    }
  }
  