<div class="titlesection col-s-11 col- col-m-11 col-xl-11">
    Bandeja de Consorcios Pendientes 
    <br><br>
    <mat-divider></mat-divider>
</div>
<br>

<br>
<div class="content-table col-s-12 col-m-12 col-xl-12 col-l-12">
    <span class="label-info">Estados:&nbsp;&nbsp;
        <mat-icon class="color-aprobacion">fiber_manual_record</mat-icon> &nbsp;En Aprobación&nbsp;
        <mat-icon class="color-aprobado">fiber_manual_record</mat-icon> &nbsp;Aprobado&nbsp;
        <mat-icon class="color-rechazado">fiber_manual_record</mat-icon> &nbsp;Rechazado&nbsp;

    </span>
    <table mat-table [dataSource]="listadoSolicitudConsorcios" class="mat-elevation-z8 ">
        <caption title="Consorcios Pendientes"></caption>
        <!-- Table estrategias - por sociedad -->
        <!-- Column -->
        <ng-container matColumnDef="id_estado_aprobacion">
            <th mat-header-cell *matHeaderCellDef> estado</th>
            <td mat-cell *matCellDef="let element" >
                    {{element.id_estado_aprobacion}} </td>
        </ng-container>
       
        <!-- Column -->
        <ng-container matColumnDef="cliente_agrupacion">
            <th mat-header-cell *matHeaderCellDef> Nombre</th>
            <td mat-cell *matCellDef="let element" (dblclick)="buscarSolicitudes(element)"><u>
                    {{element.cliente_agrupacion.nombre}} </u></td>
        </ng-container>
        <!-- Column -->
        <ng-container matColumnDef="fecha_modificacion">
            <th mat-header-cell *matHeaderCellDef> Fecha Solicitud</th>
            <td mat-cell *matCellDef="let element" >
                    {{element.fecha_modificacion | date: 'dd/MM/yy HH:mm:ss'}} </td>
        </ng-container>
        
        <!-- Column -->
        <ng-container matColumnDef="usuario_modificacion">
            <th mat-header-cell *matHeaderCellDef> Solicitante </th>
            <td mat-cell *matCellDef="let element" >
                    {{element.usuario_modificacion.nombre}} </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</div>