<div class="expansion-body" *ngIf="clienteData && clienteData.solicitud_cliente">
    <div class="objeto objetoEmpresa" *ngFor="let obj of clienteData.solicitud_cliente">
        <div class="objeto formElementoPlano">
            <div class="label">RUC:</div>
            <div class="dato">{{obj.numero_documento}}</div>
        </div>
        <div class="objeto formElementoPlano">
            <div class="label">Razón Social:</div>
            <div class="dato">{{obj.razon_social}}</div>
        </div>
        <div class="objeto formElementoPlano">
            <div class="label">Participación:</div>
            <div class="dato">{{obj.participacion}}%</div>
        </div>

    </div>
</div>