<div class="titledocumento">
    Solicitud: {{id_solicitud}} 
    <button mat-raised-button class="botonera-superior boton-secundario">Anular Solicitud</button>
    <br><br>
    <mat-divider></mat-divider>
    <br>
    
</div>
<div >
    <div >
        Grupo Empresarial: 
    </div>
   
   
    <div >
        Fecha Solicitud: 
    </div>
    <div >
        Estado: 
    </div>
</div>
<br>
    <br>
    <div >
        <mat-tab-group mat-align-tabs="start">
            <mat-tab label="Datos de Cliente" >
                <div>
                    Datos del Cliente
                </div>
            </mat-tab>
            <mat-tab label="Solicitud de Crédito" >
                <div>
                    Solicitud de crédito
                </div>
            </mat-tab>
            <mat-tab label="Sustento de Evaluación" class="sustentoevaluacion">
                    <app-sustento-evaluacion-ec [id_solicitud]="id_solicitud"></app-sustento-evaluacion-ec>
            </mat-tab>
            <mat-tab label="Resumen de Evaluación " >
                <div >
                    Resumen
                </div>
            </mat-tab>
            <mat-tab label="Datos de Obra" >
                <div >
                    obras
                </div>
            </mat-tab>
            <mat-tab label="Adjuntos" >
                <div >
                    adjuntos
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>