<div class="titledocumento col-s-11 col- col-m-11 col-xl-11">
    Solicitud: {{id_solicitud}} 
    <button class="botonera-superior boton-secundario">Anular Solicitud</button>
    <br><br>
    <mat-divider></mat-divider>
    <br>
    
</div>
<div class="col-s-12 col-m-12 col-l-12 col-xl-12">
    <div class="objeto col-s-12 col-m-4 col-l-3 col-xl-6">
        Grupo Empresarial: 
    </div>
   
   
    <div class="objeto col-s-12 col-m-4 col-l-3 col-xl-3">
        Fecha Solicitud: 
    </div>
    <div class="objeto col-s-12 col-m-4 col-l-3 col-xl-3">
        Estado: 

    </div>

</div>
<br>


    <br>
    <div class="body-dialog">
        <mat-tab-group mat-align-tabs="start">
            <mat-tab label="Datos de Cliente" >
                <div >
                    Datos del Cliente
                </div>
            </mat-tab>
            <mat-tab label="Solicitud de Crédito" >
                <div >
                    Solicitud de crédito
                </div>
            </mat-tab>
            <mat-tab label="Sustento de Evaluación" >
                <div >
                    <app-sustento-evaluacion-ec></app-sustento-evaluacion-ec>
                </div>
            </mat-tab>
            <mat-tab label="Resumen de Evaluación " >
                <div >
                    Resumen
                </div>
            </mat-tab>
            <mat-tab label="Datos de Obra" >
                <div >
                    obras
                </div>
            </mat-tab>
            <mat-tab label="Adjuntos" >
                <div >
                    adjuntos
                </div>
            </mat-tab>
            
        </mat-tab-group>
    </div>